<section class="bg-pattern bg-pattern-inner">
  <div class="overlay"></div>
  <div class="inner-banner">
    <img src="../../../../../assets/images/events_banner.png" alt="" srcset="">
  </div>
  <div class="wrapper">
    <div class="inner-section section-padding">
      <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
        fxLayoutAlign="start stretch" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="70">
          <div class="inner-content">
            <div class="inner-image">
              <img src="../../../../../assets/images/text_frame.png" alt="" srcset="">
              <div class="over-content">
                <h4 class="main-heading">Religious Celebrations</h4>
                <p>Duis vestibulum elit vel neque pharetra vulputate. Quisque scelerisque nisi urna. Duis rutrum non risus in imperdiet. Proin molestie accumsan nulla sit amet mattis. Ut vel tristique neque. Praesent purus eros, aliquet sit amet venenatis in, sodales in odio. Curabitur ac ligula et purus cursus vulputate accumsan sit amet erat. Vestibulum ac mauris ut nisl maximus porta eu a libero. In hac habitasse platea dictumst. Proin augue urna, pretium vel mauris sed, lobortis rutrum libero.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="30">
          <div class="left-img">
            <img class="overlay-frame" src="../../../../../assets/images/photo_frame.png" alt="" srcset="">
            <img src="../../../../../assets/images/events_1.png" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
    <div class="inner-section section-padding">
      <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
        fxLayoutAlign="start stretch" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="30">
          <div class="left-img">
            <img class="overlay-frame" src="../../../../../assets/images/photo_frame.png" alt="" srcset="">
            <img src="../../../../../assets/images/events_2.png" alt="" srcset="">
          </div>
        </div>
        <div fxLayout="column" fxFlex="70">
          <div class="inner-content">
            <div class="inner-image">
              <img src="../../../../../assets/images/text_frame.png" alt="" srcset="">
              <div class="over-content">
                <h4 class="main-heading">Melas / jatars</h4>
                <p>Cras gravida bibendum dolor eu varius. Morbi fermentum velit nisl, eget vehicula lorem sodales eget. Donec quis volutpat orci. Sed ipsum felis, tristique id egestas et, convallis ac velit. In consequat dolor libero, nec luctus orci rutrum nec. Phasellus vel arcu sed nibh ornare accumsan. Vestibulum in elementum erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean laoreet rhoncus ipsum eget tempus. Praesent convallis fermentum sagittis. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="newsletter-section">
    <div class="overlay-news"></div>
    <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
      fxLayoutAlign="center center" fxLayoutGap="8px">
      <div fxLayout="column" fxFlex="60" fxFlexFill>
        <div class="header-title">
          <h4> {{'Weekly Newsletter' | translate}} </h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div fxLayout="row" fxFlexFill class="wow fadeInUp navbar_search" data-wow-duration="2s">
          <div class="custom-form-group">
            <div class="custom-form-control with-curve">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Your Email Id" />
              </mat-form-field>
            </div>
          </div>
          <button mat-button class="icon-btn" aria-label="search">
            <span> <img src="../../../../../assets/images/icons/email.svg" alt="" /> Subscribe</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
