// Colors
$red: #FF0000;
$green: #2FA84F;
$blue: #0E0E6C;
$black: #000000;
$yellow: #FFFF00;
$white: #FFFFFF;
$black: #000000de;
$orange: #FFA500;
$dark-yellow:#DBA100;
$light-yellow:#feb403;
$grey: #ccc;
$grey-medium: #eeeeee52;
$grey-light: #efefef;
$grey-dark: #686868;
$whisper: #EEEEEE;

$outline: #EEEEEE;
$whisper-dark: #FAFAFA;
$whisper-light: #F1F1F1;
$text-placeholder-color: #BEBFC0; // PLACEHOLDER-COLORS

$from-outline-color:#F1F4FB;
$light-primary-text: #173458;
$medium-primary-text:#B8C2D8;

/// Final  Colors
$body-bg: #edeff2; //HTML & BODY BG COLOR

// PRIMARY-COLORS
$primary: #FFB60C;
$primary-light:#fff6dd;
$primary-text: #202124;// ALL  TAGS (p,a,span) APPLYING COLOR LIGHT GREY
$primary-text-light:#434c54;
$primary-dark-light: #FFEDD8;


// Button Colors
$btn-bg: #F9C617;
$button-dark: $primary;
$button-dark-hover: $primary-light;
$button-dark-text: $white;
$button-dark-icon: $white;

// TABLE-ACTIONS-COLOR
$base-yellow:#FE9014;
$base-yellow-light:#FFEDD8;
$base-red: #FA5D50;
$base-red-light: #FEE4E2;
$base-green: #138808;
// $base-green-light: #2FA84F;
$base-green-light: #DCF7E3;
$base-blue: #367BF5 ;
$base-blue-light: #E6EFFF;
