// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

// FONTS
@font-face {
  font-family: 'Akrobat Bold';
  src: url("/assets/fonts/Akrobat-Bold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat Black';
  src: url("/assets/fonts/Akrobat-Black.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat ExtraBold';
  src: url("/assets/fonts/Akrobat-ExtraBold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat ExtraLight';
  src: url("/assets/fonts/Akrobat-ExtraLight.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat Light';
  src: url("/assets/fonts/Akrobat-Light.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat Regular';
  src: url("/assets/fonts/Akrobat-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat SemiBold';
  src: url("/assets/fonts/Akrobat-SemiBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat Thin';
  src: url("/assets/fonts/Akrobat-Thin.ttf") format("truetype");
  font-style: normal;
}

$font-family : 'Akrobat Regular', sans-serif !important;
// $font-family: 'Metropolis', sans-serif !important;
$font-family-medium: 'Akrobat', sans-serif !important;
$font-family-thin: 'Akrobat Light', sans-serif !important;
$font-family-black: 'Akrobat', sans-serif !important;
$font-family-semibold: 'Akrobat', sans-serif !important;
$font-family-bold: 'Akrobat ExtraBold', sans-serif !important;
// $font-family-avenir: 'Avenir Book', sans-serif !important;
// $font-family-myriad: 'Myriad Pro', sans-serif !important;


