

section {
  clear: both;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.fx-display {
  display: flex !important;
}
.block {
  display: block !important;
}
.align-center {
  align-items: center;
}
.text-right{
  text-align: right;
}
.d-none {
  display: none;
}
// COLORS
.white {
  color: #FFFFFF;
}
.bg-white {
  background: #FFFFFF;
}
// HEADINGS
h1,
h2 {
  font-weight: 800;
  font-size: 26px;
}
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}
p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 20px;
}
a {
  text-decoration: none;
}
ul {
  padding: 0px;
  list-style: none;
}
li {
  outline: 0;
}
.opacity-0 {
  opacity: 0;
}
// HEIGHTS
.min-height {
  min-height: calc(100vh - 215px);
  max-width: 100%;
}
// TEXT-ALIGNMENTS
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
  display: flex;
}

// BORDER-SCSS
.br-0 {
  border: 0px !important;
}
.br-r-0 {
  border-radius: 0px !important;
}
.br-list-25 {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-right: 25px;
}
.br-r-4{
border-radius: 4px !important;
}
// PADDING-SCSS
.pad-0 {
  padding: 0px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-5 {
  padding: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
// PADDING-TOP
.pt-0 {
  padding-top: 0px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
// PADDING-BOTTOM
.pb-0 {
  padding-bottom: 0px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
// PADDING-LEFT
.pl-0 {
  padding-left: 0px !important
}
.pl-10 {
  padding-left: 10px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pl-25 {
  padding-left: 25px !important;
}
// PADDING-RIGHT
.pr-0 {
  padding-right: 0px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
// MARGIN-SCSS
.m-0 {
  margin: 0px;
}
.m-30 {
  margin: 30px !important;
}
// MARGIN-TOP
.mt-0 {
  margin-top: 0px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt--20 {
  margin-top: -20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-45 {
  margin-top: 45px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-70 {
  margin-top: 70px !important;
}
// MARGIN-BOTTOM
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
// MARGIN-LEFT
.ml-0 {
  margin-left: 0px !important;
}
.ml-5{
  margin-left: 5px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
// MARGIN-RIGHT
.mr-0 {
  margin-right: 0px !important;
}
.mr-5 {
margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-30 {
  margin-right: 30px !important;
}

.br-1 {
  border-right: 1px solid $body-bg;
}
.hide {
  display: none;
}
// COLOR OVER_RIDES

.light-color {
  color:$light-primary-text;
}
// PLACE-HOLDER-SCSS
::placeholder {
  color: #B6B6B6 !important;
  font-size: 13px !important;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #B6B6B6 !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #B6B6B6 !important;
}

::placeholder {
  color: #B6B6B6 !important;
}



// @mixin myMixin(
//   $dark-primary-text,
//   $light-primary-text
//   ) {
//   h1 {
//    color: $dark-primary-text;
//  }

//    h2 {
//      color: $light-primary-text;
//    }
// }



// OUR DARK THEME
// .light-theme {
//   $body-bg:#f9f9f9;
//   $body-inner-bg:#eef1f6;
//   $dark-primary-text:#27344B;
//   $medium-primary-text:#334257;
//   $light-primary-text:#C6D3E6;
//   $neutral-btn-bg:#909cae;
//   @include myMixin(
//   $dark-primary-text,
//   $light-primary-text);
// }
// .dark-theme {
//   $body-bg:#182133;
//   $body-inner-bg:#243146;
//   $light-primary-text: #D1E3FE;
//   $medium-primary-text:#9BB2D3;
//   $dark-primary-text:#44556D;
//   $neutral-btn-bg:#4F627D;
//   @include myMixin(
//     $dark-primary-text,
//     $light-primary-text);
// }


