// COLORS-SCSS
@import "colors";
// FONTS-SCSS
@import "fonts";

button,
.mat-checkbox,
.mat-expansion-panel-header,
.mat-expansion-panel-content,
.mat-tab-group,
.mat-radio-button,
.mat-button,
.mat-tab-label,
.mat-tab-link,
table,
.mat-option,
.mat-form-field,
.mat-select,
.mat-button-toggle,
.mat-table,
.mat-input-element,
.mat-cell,
.mat-expansion-panel-header-title,
.mat-stepper-vertical,
.mat-stepper-horizontal {
  font-family: $font-family;
}
.mat-input-element{
  font-family: $font-family;
}
.mat-drawer-content{
  overflow: hidden !important;
}
/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0 !important;
}

.mat-button-toggle-checked .mat-button-toggle-focus-overlay {
  visibility: hidden !important;
}


.mat-form-field.mat-form-field-appearance-outline>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix {
  padding: 0.4em 0px;
  border-top: 0.4435em solid transparent !important;
  color: #202124;
  font-size: 14px;
  letter-spacing: 0.5px;
  // line-height: 20px;
}

.mat-form-field.mat-form-field-appearance-outline>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix>span.mat-form-field-label-wrapper {
  top: -1.5em;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

.mat-form-field {
  width: 100%;

  input.mat-input-element {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: $font-family;
  }


}
.mat-form-field-wrapper {
  padding-bottom: 10px;
}
.mat-form-field-outline {
  // color: $outline !important;
  background-color: $white;
  border-radius: 4px;
}

.mat-input-element {
  caret-color: #979797 !important;
}

.mat-form-field-flex {
  position: initial;
}

.mat-form-field-subscript-wrapper {
  // padding: 0 2em !important;
  padding-top: 10px !important;
}

.mat-button,
.mat-button-toggle ::ng-deep .mat-button-focus-overlay {
  display: none;
}

.mat-error {
  color: #ff0b46 !important;
  letter-spacing: 1px;
  font-weight: 400;
}

.mat-form-field-subscript-wrapper {
  overflow: visible !important;
}

.mat-select-panel {
  background: $outline !important;
}

.mat-option {
  font-weight: 500 !important;
  font-size: 14px !important;
  color: $black !important;
  text-transform: capitalize;
  $font-family: $font-family;
}

.mat-select-value-text {
  text-transform: capitalize;
  font-weight: 500;
  color: #000;
}
.mat-select-arrow-wrapper {
  position: relative;
  top: 6px;
}
.mat-option.mat-option-disabled {
  color: #ccc !important;
}


.mat-option.mat-active {
  background: #fff!important;
  color: #000 !important;
  font-weight: 500 !important;
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}

//CHECKBOX OVERRIDE
.mat-checkbox-layout .mat-checkbox-label {
  color: $light-primary-text !important;
}

.mat-checkbox .mat-checkbox-ripple {
  visibility: hidden !important;
}

.mat-checkbox-frame {
  border-color: $light-primary-text !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $light-yellow !important;
}

//RADIO BTN
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $light-yellow !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $light-yellow !important;
}

// mat-slide-toggle-thumb
.mat-slide-toggle-bar {
  background-color: #eee !important;
  box-shadow: none !important;
}

.mat-datepicker-toggle,
.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
  color: $light-primary-text !important;
}

.mat-slide-toggle-thumb {
  background-color: $body-bg !important;
}

.mat-slide-toggle-bar {
  height: 24px !important;
  width: 40px !important;
  border-radius: 25px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: $light-yellow !important;
}

.mat-slide-toggle-thumb-container {
  width: 22px !important;
  height: 22px !important;
  top: 1px !important;
}

.mat-slide-toggle .mat-slide-toggle-ripple {
  display: none;
}

.mat-slide-toggle-thumb {
  height: 22px !important;
  width: 22px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: $body-bg !important;
}

//MAT CHIPS OVERRIDES
.mat-chip.mat-standard-chip {
  background-color: $body-bg;
  color: $light-primary-text;
}

.mat-chip.mat-standard-chip .mat-chip-remove {
  color: $light-primary-text;
}

//MAT TABS OVERRIDES
.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: 0px !important;
}

.mat-tab-label,
.mat-tab-link {
  color: $light-primary-text;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $light-yellow;
}

.mat-tab-label-content {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.mat-tab-label-active {
  .mat-tab-label-content {
    color: $light-yellow;
  }
}

.mat-tab-body-content {
  padding: 15px 10px;
}

.mat-option {
  background-color: #fff !important;
}

//TEXT EDITOR OVERIRDES
// .cke_top {
//   border-bottom: 1px solid $from-outline-color !important;
//   background: $body-light-bg !important;
//   padding: 6px 8px 2px;
//   white-space: normal;
// }
.custom-dropdown {
  background: $white !important;
  color: $black !important;

  .mat-datepicker-content .mat-calendar-previous-button {
    color: $light-primary-text !important;
  }

  .mat-calendar-arrow {
    border-top-color: $light-primary-text !important;
  }

  .mat-calendar-table-header {
    color: $light-primary-text !important;
  }

  .mat-calendar-body-label {
    color: $light-primary-text !important;
  }

  .mat-calendar-body-cell-content {
    color: $light-primary-text !important;
  }
}
.custom-form-group {
  margin-bottom: 10px;
}

/* ************************ MAT-OVER-RIDE-SCSS  **************************  */
// MAT-DIALOG
// .mat-dialog-container {
//   padding: 10px !important;
//   background: transparent !important;
//   box-shadow: none !important;
//   overflow: hidden !important;
// }

// CUSTOM-MODAL
.custom-modal {
  .master-modal {
    .modal-dialog {
      max-width: 100%;
      border-radius: 25px;

      .mat-form-field-outline {
        color: #D6E0DC !important;
        background-color: $body-bg !important;
      }

      &.delete-dialog {
        .warning-text {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0;
          color: $light-primary-text;
          font-family: $font-family !important;

          span {
            color: $light-yellow;
          }
        }
      }

      .modal-content {
        border: 0;
        border-radius: 25px;
        background-color: transparent !important;

        .modal-header {
          padding: 10px 15px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          background-color: $primary;
          // background-color: #eeeeeefa;
          border: none !important;
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          align-items: center;

          .modal-title {
            margin-bottom: 0;
            line-height: 1.5;
            letter-spacing: 1.2px;
            font-size: 16px;
            font-weight: 500;
            // color: $light-primary-text
            color: $white;
          }

          .heading-title {
            margin-bottom: 0;
            line-height: 1.5;
            letter-spacing: 1.2px;
            font-size: 16px;
            font-weight: 600;
            color: $white;
          }

          .modal-close {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 20px;
            }
          }
        }

        .mat-dialog-content {
          padding: 0 0px;
          margin: 0 0px;
          max-height: 65vh;
          overflow: initial;
        }

        .modal-body {
          padding: 15px 15px 15px 15px;
          width: auto !important;
          background-color: $white;
        }

      }
    }
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end !important;
    align-items: center !important;
    background: $white;

    .hint-text {
      color: $light-primary-text;
      margin: 0px;
    }

    .mat-button {
      margin-right: 5px;
      height: 28px;
      line-height: 26px;
      border: 1px solid;
      padding: 0 10px 0 10px;

      &.save-btn {
        background-color: $primary;
        border-color: $primary;

        .mat-button-wrapper {
          color: $white;
        }
      }

      &.cancel-btn {

        background-color: #68686840;
        border-color: #68686840;

        .mat-button-wrapper {
          color: $black;
        }
      }
    }
  }
}
