// FONTS-SCSS
@import 'fonts';
// RESET-SCSS
@import 'reset';
// M-RESET-SCSS
@import 'm-reset';
// HELPERS-SCSS
@import 'helper';
// COLORS-SCSS
@import 'colors';
// COLORS-SCSS
@import 'nav';
// SHARED
@import 'shared';
// RESPONSIVE-SCSS
@import 'responsive';
// CUSTOM-SCSS
@import 'custom';

@import 'table';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

// BODY
body {
  margin: 0px;
  padding: 0px;
  font-family: $font-family;
  font-size: 14px !important;
  // background: #F2F2F2;
  background: #ffffff;
  color: $primary-text !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  letter-spacing: 0.5px;
}
