// COLORS-SCSS
@import "colors";
//HEADER SCSS
.main-top-navbar {
  transition: all 0.7s ease-in-out;
  // background-image: linear-gradient(to right, #00000021, #000000a3);
  background: #048c3a00;
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  .header-top {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 9999;
    margin-bottom: 5px;
    opacity: 1;
    .social-media {
      display: inline-block;
      float: left;
      margin-bottom: 0px;
      padding: 0;
      li {
        display: inline-block;
        margin: 0;
        a {
          display: inline-block;
          img {
            /* border: 1px solid #1b1b1b8f; */
            /* border-radius: 4px; */
            /* width: 40px; */
            height: 40px;
            padding: 2px;
            object-fit: contain;
            margin-right: 10px;
          }
        }
      }
    }
  }
  // .outline-bottom {
  //   border-bottom: 1px solid $outline;
  //   background: $primary;
  // }
  // .header-top {
  //   height: 35px;
  //   display: flex;
  //   -webkit-transition: all .7s ease-in-out;
  //   -moz-transition: all .7s ease-in-out;
  //   -ms-transition: all .7s ease-in-out;
  //   -o-transition: all .7s ease-in-out;
  //   transition: all .7s ease-in-out;
  //   justify-content: space-between;
  //   align-items: center;
  //   opacity: 1;
  //   .social-media {
  //     display: inline-block;
  //     float: left;
  //     margin-bottom: 0px;
  //     padding: 0;
  //     li {
  //       display: inline-block;
  //       margin: 0;
  //       a {
  //         display: inline-block;
  //         img {
  //           width: 20px;
  //           height: 18px;
  //           object-fit: contain;
  //           margin-right: 10px;
  //         }
  //       }
  //     }
  //   }
  //   .customer-care {
  //     text-transform: uppercase;
  //     // border-left: 1px solid $outline;
  //     display: inline-block;
  //     padding-left: 15px;
  //     font-size: 14px;
  //     font-weight: 500;
  //     color:$white;
  //     line-height: 1.29;
  //     letter-spacing: normal;
  //     a {
  //       display: inline-block;
  //       font-weight: 400;
  //       color: $white;
  //       img {
  //         width: 21px;
  //         height: 21px;
  //       }
  //     }
  //   }
  //   .left-items {
  //     .location-picker {
  //       padding-right: 15px;
  //       font-weight: 400;
  //       letter-spacing: 1.2px !important;
  //     display: inline-flex;
  //     align-items: center;
  //     font-size: 12px;
  //     line-height: 1.29;
  //     cursor: pointer;
  //     color:$white;
  //     letter-spacing: normal;
  //       // border-right: 1px solid $outline;
  //       img {
  //         width: 18px;
  //         height: 18px;
  //       }
  //     }
  //   }
  // }
  .header-main {
    //height: 100px;
    min-height: 60px;
    // border-bottom: 1px solid $outline;
    display: flex;
    background: #fff;
    padding: 10px 0px;
    align-items: center;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    .header-row {
      align-items: center !important;
    }
    .main-logo {
      width: 155px;
      display: flex;
      cursor: pointer;
      justify-content: flex-start;
      // position: absolute;
      top: -10px;
      // background: #fff;
      // padding: 5px;
      border-radius: 4px;
      // width: 135px;
      // display: flex;
      // cursor: pointer;
      // justify-content: flex-start;
      // position: absolute;
      // top: 10px;
      // background: #fff;
      // padding: 10px;
      // border-radius: 10px;
    }
    .header-bottom-navbar {
      list-style: none;
      display: inline-flex;
      margin: 0px;
      align-items: center;
      padding: 0px;
      li {
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: 0px 10px;
        position: relative;
        // border-right: 2px solid #1b1b1b;
        color: #1b1b1b;
        font-family: $font-family;
        text-transform: capitalize;
        cursor: pointer;
        letter-spacing: 1.2px;
        position: relative;
        font-weight: 500;
        &:hover {
          color: #4caf50;
        }
        // &:after {
        //   position: absolute;
        //   right: 0px;
        //   top: 0px;
        //   left: 0px;
        //   bottom: 0px;
        //   content: "";
        //   display: block;
        //   border-right: solid 1px#1b1b1b;
        // }
        // .caret-icon {
        //   margin-left: 5px;
        // }
        &:last-child {
          border-right: 0px !important;
          margin-left: 25px;
          &:after {
            opacity: 0;
          }
          .global-btn {
            img {
              width: 15px;
            }
          }
        }
        &.router-link-active {
          color: $white;
          // font-size: 20px;
          font-weight: 600;
          background-image: url('../assets/images/leaf.svg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: relative;
          top: 0;
          padding: 18px 30px 25px 20px;
        }
        &:hover {
          // color: $primary;
        }
      }
    }
    &.shadow {
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.37);
    }
  }
  &.sticky {
    position: fixed;
    top: 0;
    animation: slide-down 0.7s;
    opacity: 1;
    width: 100%;
    z-index: 9999;
    // background: #fff;
    background: #048c3a;
    cursor: default;
    user-select: none;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.37);
    .outline-bottom {
      border-bottom: 0px !important;
    }
    .main-logo {
      background: #fff;
    }
    .header-top {
      // opacity: 0 !important;
      // height: 0px !important;
      -webkit-transition: all .7s ease-in-out;
      -moz-transition: all .7s ease-in-out;
      -ms-transition: all .7s ease-in-out;
      -o-transition: all .7s ease-in-out;
      transition: all .7s ease-in-out;
    }
    // .header-main {
    //   .header-bottom-navbar {
    //     li {
    //       color:#000 ;
    //     }
    //     &.router-link-active {
    //       color: $primary;
    //     }
    //   }
    // }
  }
}
.lng-drop-down {
  .mat-menu-item {
    line-height: 25px !important;
    height: 30px !important;
    padding: 0px 10px;
    font-size: 15px;
    letter-spacing: 1.2px;
    font-weight: 600;
  }
}
//MEGA-MENU-SCSS
.navbar_search {
  position: relative;
  .mega-menu {
    position: absolute;
    box-shadow: 0 2px 4px 0 #b5b5b5 !important;
    background-color: #fff;
    width: 100%;
    height: 460px;
    overflow: auto;
    display: block;
    top: 34px;
    right: 0px;
    z-index: 2;
    left: 0px;
    bottom: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 0px auto;
  }
  .tabs-left {
    .menu-nav-tabs {
      // box-shadow: 0 1px 3px #b6b6b6!important;
      li {
        border-bottom: 1px solid #dedede;
        font-size: 12px;
        font-weight: 400;
        position: relative;
        display: block;
        a {
          padding: 7px 0 7px 7px !important;
          line-height: 16px;
          display: block;
          letter-spacing: 1.2px;
          color: #555;
          border: 1px solid transparent;
          &:hover {
            background-color: #eaeaea;
            color: #222;
          }
          &.active {
            background-color: #eaeaea;
            color: #222;
          }
        }
      }
    }
  }
  .tabs-right {
    background-color: #eaeaea;
    .menu-nav-tabs {
      // box-shadow: 0 1px 3px #b6b6b6!important;
      li {
        border-bottom: 1px solid #dedede;
        font-size: 12px;
        font-weight: 400;
        position: relative;
        display: inline-block;
        width: 50%;
        a {
          padding: 7px 0 7px 7px !important;
          line-height: 16px;
          display: block;
          letter-spacing: 1.2px;
          color: #555;
          border: 1px solid transparent;
          &:hover {
            background-color: #fff;
            color: #222;
          }
          &.active {
            background-color: #fff;
            color: #222;
          }
        }
      }
    }
  }
}
//Category Dropdown
.category-drop-down {
  position: relative;
  &.mat-elevation-z4 {
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.17);
    border: 1px solid $outline;
  }
  &.mat-menu-panel {
    min-width: 160px !important;
    min-height: auto !important;
    border-radius: 12px !important;
  }
  .mat-menu-content:not(:empty) {
    padding: 0px 0px 0 0px !important;
  }
  .mat-menu-item-submenu-trigger {
    padding-right: 10px !important;
    &::after {
      opacity: 0;
    }
  }
  .category-item {
    line-height: 36px !important;
    height: 36px !important;
    padding: 0 10px !important;
    display: flex;
    color: #666666;
    font-weight: 500;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
}
//Category Sub Drop Down
.sub-drop-down {
  &.mat-elevation-z5 {
    box-shadow: none !important;
  }
  &.mat-menu-panel {
    min-width: 500px !important;
    max-width: 280px;
    min-height: auto !important;
    border-radius: 12px !important;
  }
  .mat-menu-content {
    padding: 10px !important;
  }
  .sub-menu-body {
    .sub-menu-list {
      display: inline-block;
      .sub-menu-item {
        color: #666666;
        line-height: 36px !important;
        height: 36px !important;
        font-weight: 500;
        font-size: 14px;
        float: left;
        width: 25%;
      }
    }
  }
}
// .sub-drop-down+* .cdk-overlay-pane {
//   .cdk-overlay-connected-position-bounding-box {
//     top: 0px !important;
// }
// }
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
// SIDE-NAV-SCSS
.nav-sidemenu {
  // background-color: #F8F8FF;
  width: 250px;
  padding: 1px 0px 20px 0;
  border-right: 1px solid #f2f4f9;
  box-shadow: 0 8px 10px 0 rgba(183, 192, 206, .2);
  z-index: 1030 !important;
  background: $white;
  transition: all .5s;
  .left-side-menu {
    .sidebar-menus {
      margin: 0px !important;
      padding: 0px !important;
      li {
        display: flex;
        align-items: center;
        height: 35px;
        padding-left: 5px;
        margin: 0px 0 0px 0;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        cursor: pointer;
        position: relative;
        transition: all 0.5s ease-in-out;
        border-bottom: 1px solid #EEEEEE !important;
        &:first-child {
          border-bottom: 1px solid $outline;
          border-radius: 0;
        }
        .menu-icon {
          position: relative;
          transition: all 0.5s ease-in-out;
        }
        &.router-link-active {
          background: $primary;
          // padding: 5px 0 5px 0;
          .menu-icon {
            // border: 1px solid $primary;
          }
        }
        &:hover {
          color: $primary !important;
          .menu-icon {
            // border: 1px solid $primary;
          }
        }
        .menu-icon {
          border-radius: 50%;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin-left: 15px;
          // width: 30px;
          // height: 32px;
          position: relative;
          transition: all 0.5s ease-in-out;
          img {
            width: 10px;
            position: relative;
            top: 1px;
          }
        }
        .menu-name {
          display: flex;
          align-items: center;
          margin: 0;
          padding: 0;
          font-size: 14px;
          // padding-left: 10px;
          // text-transform: uppercase;
        }
        // Expansion List
        &.expansion-list {
          height: auto;
          .mat-expansion-panel-body {
            padding: 0 !important;
          }
        }
      }
      .hvr-col-listitem {
        margin-bottom: 5px;
        .hvr-col-listitem-link {
          letter-spacing: 0;
          cursor: pointer;
          padding: 10px 5px 10px 10px;
          display: block;
          text-transform: capitalize;
          font-size: 14px;
          line-height: 15px !important;
          height: 36px !important;
          color: #434343;
          font-weight: 600;
          line-height: 14px;
          background: #fff;
          border-bottom: 1px solid #eee;
          position: relative;
          -webkit-transition: all 0.8s ease-in-out 0s;
          transition: all 0.8s ease-in-out 0s;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:hover {
            background: $primary;
            color: #fff;
          }
        }
      }
    }
  }
}
.toggle-btn {
  padding: 0;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  line-height: 30px;
  background: $white;
  border-radius: 4px;
  position: relative;
  border: 1px solid #EEEEEE;
  cursor: pointer;
  // MENU-BUTTONS
  &.menu-button {
    .menu-lines {
      transition: all 0.3s ease-in-out;
      position: absolute;
      top: 52%;
      transform: translateY(-50%);
      right: 3px;
      width: 25px;
      height: 15px;
      transform-origin: center;
      // z-index: -1;
      span {
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 2px;
        width: 100%;
        height: 2px;
        background: $primary;
        display: block;
        left: 0;
        transform-origin: center;
        &:first-child {
          top: 0;
          transform: none;
        }
        &:last-child {
          top: auto;
          bottom: 0;
          transform: none;
        }
      }
    }
    &.open {
      .menu-lines {
        span {
          &:first-child {
            opacity: 0;
          }
          &:nth-child(2) {
            transform: translateY(-50%) rotate(-45deg);
            background: #FA5D50;
          }
          &:nth-child(3) {
            transform: translateY(-50%) rotate(45deg);
            background: #FA5D50;
          }
          &:last-child {
            opacity: 0;
          }
        }
      }
    }
  }
  .mat-icon {
    // color: $primary;
    font-weight: 500;
  }
}
//SCROLL TOP
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #01923e;
  width: 40px;
  opacity: 0;
  height: 40px;
  z-index: 9999;
  text-decoration: none;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  &.scroll-top-in {
    opacity: 1 !important;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
  }
  i {
    color: $white;
    margin: 0;
    line-height: 40px;
    display: block;
    text-align: center;
    font-size: 35px;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
  }
  &:hover {
    background: #ffb60d;
    i {
      color: $white;
    }
  }
}
// THIS IS FOR MOBILE-MENU-HIDE
.mobile-top-menu-show {
  display: none !important;
}
// MOBIL-MENU-SHOW & ACCORDION
.mobile-top-menu-show {
  .mobile-navbar-sec {
    width: 100%;
    position: relative;
    background: #fff;
    position: fixed;
    z-index: 999;
    &.sticky {
      position: fixed;
      top: 0;
      background: #fff;
      animation: slide-down 0.7s;
      opacity: 1;
      width: 100%;
      z-index: 99999;
      // background: #fff;
      cursor: default;
      user-select: none;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.37);
      .outline-bottom {
        border-bottom: 0px !important;
      }
      .header-top {
        opacity: 0 !important;
        height: 0px !important;
        -webkit-transition: all .7s ease-in-out;
        -moz-transition: all .7s ease-in-out;
        -ms-transition: all .7s ease-in-out;
        -o-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
      }
      .header-main {
        .header-bottom-navbar {
          li {
            color: #1B2057;
            &.router-link-active {
              color: $primary;
            }
          }
        }
      }
      .mobile-toolbar-toggler {
        span {
          background: #8a8a8a !important;
          &::before {
            background: #8a8a8a !important;
          }
          &::after {
            background: #8a8a8a !important;
          }
        }
      }
    }
    &.inner-header {
      background: $primary !important;
      background-image: none !important;
      &:before {
        content: ' ';
        background: $primary !important;
        background-image: none !important;
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        left: 0px;
      }
      .header-bottom-navbar {
        li {
          color: $white !important;
          &.router-link-active {
            color: #acb6fe !important;
          }
        }
      }
      .mobile-toolbar-toggler {
        span {
          background: #fbfcfe !important;
          &::before {
            background: #fbfcfe !important;
          }
          &::after {
            background: #fbfcfe !important;
          }
        }
      }
    }
  }
  .parent-drop {
    padding: 8px 0 8px 15px;
    font-weight: 500;
  }
  .parent-list-li {
    padding: 0px !important;
  }
  .mobile-logo-box {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 999;
    width: 50%;
    img {
      width: 60%;
    }
  }
  .mobile-accordion {
    position: relative;
    top: 0;
    left: 0px;
    padding-top: 0px;
    // z-index: 9999;
  }
  .mat-expansion-panel {
    cursor: pointer !important;
    background: transparent;
    margin-bottom: 0px !important;
    padding-left: 0px;
    box-shadow: none;
    .toggler {
      &.mat-expansion-panel-header {
        display: inline;
        cursor: pointer !important;
        width: 36px;
        padding: 0 5px 0 0 !important;
        text-align: center !important;
        line-height: 0;
        &:hover {
          background: transparent !important;
        }
        .mat-expansion-indicator {
          display: none;
          padding: 0;
          width: 30px;
          height: 30px;
          flex-shrink: 0;
          line-height: 30px;
          background: $white;
          border-radius: 4px;
          text-align: center;
          margin-left: 5px;
        }
        .mat-content {
          display: block !important;
          .mat-expansion-panel-header-title {
            float: right !important;
            // margin-right: 0 !important;
            display: inline-block;
            border: 1px solid #8a8a8a;
            padding: 5px;
            border-radius: 4px;
            margin-top: 20px;
            .sub-menu-heading {
              font-weight: 600;
              padding-right: 5px;
              font-size: 16px;
            }
            i {
              font-size: 18px;
              margin-left: 5px;
            }
          }
        }
      }
    }
    .mat-expansion-panel-header {
      padding: 0px !important;
    }
    .mat-expansion-indicator {
      // display: none;
      padding: 0;
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      line-height: 30px;
      background: $white;
      border-radius: 4px;
      text-align: center;
      margin-left: 5px;
    }
    .mat-expansion-panel-body {
      padding: 0 0 0px 0 !important;
      border: 0 !important;
      border-top: 1px solid #ccc !important;
      background: #fff !important;
      margin-top: 0px;
      margin-left: 0px;
      .top-right-nav {
        width: 100%;
        justify-content: center !important;
        li {
          display: block;
          font-size: 16px;
          font-weight: 600;
          overflow: hidden;
          letter-spacing: 1.2px;
          color: $primary;
          text-transform: capitalize;
          padding: 8px 0 8px 15px;
          margin: 0px 0px 0 0px;
          position: relative;
          transition: all 0.5s ease-in-out;
          cursor: pointer;
          border-bottom: 1px solid #e8e8ec;
          &:last-child {
            border: 0px;
          }
          a {
            display: flex;
            justify-content: space-between;
            padding-right: 10px;
            font-size: 16px;
            font-weight: 600;
            overflow: hidden;
            letter-spacing: 1.2px;
            color: #FFB60C;
            width: 100%;
            line-height: 24px;
            align-items: center;
            .arrow-img {
              width: 15px;
            }
            img {
              width: 30px;
              overflow: hidden;
              position: relative;
              left: 0;
            }
          }
        }
      }
    }
  }
}
// MOBILE-TOOGLE-BTN
.mobile-toolbar-toggler {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background: none;
  outline: none !important;
  width: 26px;
  height: 26px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  span {
    display: block;
    position: absolute;
    top: 12px;
    height: 2px;
    min-height: 2px;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: #4e4c5f;
    &::before {
      background: #4e4c5f;
      top: -8px;
      position: absolute;
      display: block;
      right: 0;
      width: 50%;
      height: 0px;
      min-height: 2px;
      content: "";
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
    &::after {
      transition: all 0.4s ease;
      left: auto;
      right: 0px;
      width: 75%;
      background: #4e4c5f;
      bottom: -8px;
      position: absolute;
      display: block;
      height: 0px;
      min-height: 2px;
      content: "";
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
  }
}
.mobile-toolbar-toggler {
  &:hover {
    span {
      background: $primary !important;
      &::before {
        width: 100% !important;
        background: $primary !important;
      }
      &::after {
        width: 100% !important;
        background: $primary !important;
      }
    }
  }
}
.nav_dropdown_menu {
  margin-top: 15px;
  border-radius: 12px !important;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 22px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    z-index: 9999;
  }
  // &:after {
  //     content:"";
  //     position: absolute;
  //     left: 4px;
  //     top: -22px;
  //     width: 0;
  //     height: 0;
  //     border-style: solid;
  //     border-width: 0 17px 17px 17px;
  //     border-color: transparent transparent #ffffff transparent;
  //     z-index:999
  // }
  .mat-menu-item {
    line-height: 40px !important;
    height: 40px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    position: relative;
    letter-spacing: 1.2px;
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  .mat-menu-item-submenu-trigger {
    &:after {
      border-width: 0px !important;
    }
  }
}
.footer-sec {
  .footer_head {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 10px;
    &::after {
      content: '';
      width: 100px;
      height: 3px;
      background-color: #00A887;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .footer_logo {
    // text-align: center;
    h4 {
      font-size: 20px;
      font-weight: 600;
      color: #000;
      letter-spacing: 1px;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      color: #000;
      letter-spacing: 1px;
      margin: 30px 0 0 0;
    }
    img {
      object-fit: contain;
      width: 200px;
    }
  }
  .quck_links {
    padding: 0 0 0 0px;
    .links_flex {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      ul {
        margin-right: 100px;
        li {
          font-size: 22px;
          font-weight: 500;
          color: #000;
          letter-spacing: 0;
          margin: 0 0 15px 0;
        }
      }
    }
  }
  .navbar_search {
    h4 {
      font-size: 24px;
      font-weight: 700;
      color: #000;
      letter-spacing: 1px;
      position: relative;
      padding-bottom: 10px;
      &::after {
        content: '';
        width: 100px;
        height: 3px;
        background-color: #00A887;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  .footer_address {
    margin: 15px 0 0 0;
    p {
      font-size: 15px;
      font-weight: 600;
      color: #000;
      letter-spacing: 1px;
      margin: 0px 0 4px 0;
    }
  }
}
.is-dropdown-submenu-parent {
  padding-left: 0 !important;
  .mat-accordion .mat-expansion-panel .mat-expansion-panel-header .mat-content {
    padding-left: 15px !important;
  }
  // padding-top: 0 !important;
  // padding-bottom: 0 !important;
  a {
    text-decoration: none;
    // padding: 8px 0;
  }
}
// .mat-expansion-panel-header {
//   height: auto !important;
// }
