/* ------------------------------ BREAK-POINTS ------------------------------ */
$breakpoint-xs-sm: "screen and (min-width:240px) and (max-width: 767px)";
$breakpoint-xs: "screen and (min-width:240px) and (max-width: 599px)";
$breakpoint-sm: "screen and (min-width:600px) and (max-width: 767px)";
$breakpoint-md: "screen and (min-width:768px) and (max-width: 959px)";
$breakpoint-md-lg: "screen and (min-width:960px) and (max-width: 991px)";
$breakpoint-lg: "screen and (min-width:992px) and (max-width: 1199px)";
$breakpoint-mac: "screen and (min-width:1200px) and (max-width: 1280px)";
$breakpoint-xl: "screen and (min-width:1281px) and (max-width: 1365px)";
$breakpoint-laptop: "screen and (min-width:1366px) and (max-width: 1366px)";
$breakpoint-xxl: "screen and (min-width: 1370px)";
$breakpoint-small: "screen and (min-width:480px) and (max-width: 599px)";

/* ------------------ MOBILE-PHONES-VERTICAL-HORIZONTAL ------------------ */
@media #{$breakpoint-xs-sm} {
  .mobile-top-menu-show {
    display: block !important;
  }

  .master-navbar-section {
    display: none !important;
  }

  //LOGIN RESPONSIVE SCSS
  .master-modal {
    max-width: 100% !important;
    width: 100% !important;
  }

  .custom-modal {
    max-width: 100% !important;
    width: 100% !important;
  }

  //FEATURED-SECTION
  .featured-section {
    margin-top: -5px;
    padding-top: 35px;

    &:before {
      height: 24px;
    }

    .product-box-big {
      .product-img {
        min-height: 250px;

        img {
          min-height: 250px;
        }
      }

      .product-content {
        padding: 25px 25px 25px 25px;
        width: 100%;
        top: 0px;
        bottom: 0px;
        right: 0px;
      }
    }

    .product-box {
      .product-content {
        padding: 15px 25px 15px 25px;

        h4 {
          font-size: 24px;
        }

        p {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  //FEATURED-SECTION
  .govt-section {
    padding-top: 35px;

    &:before {
      height: 24px;
    }

    .product-box-big {
      .product-img {
        min-height: 250px;

        img {
          min-height: 250px;
        }
      }

      .product-content {
        padding: 25px 25px 25px 25px;
        width: 100%;
        top: 0px;
        bottom: 0px;
        right: 0px;
      }
    }

    .product-box {
      .product-content {
        padding: 15px 25px 15px 25px;

        h4 {
          font-size: 24px;
        }

        p {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  .public-section {
    .product-box {
      .product-img {
        &:after {
          display: none;
        }
      }
    }
  }

  .bg-pattern {
    .overlay {
      &:before {
        border-left: 30px solid white;
      }

      &:after {
        border-right: 30px solid white;
      }
    }
  }

  .events-section {
    padding: 25px 0px;
    position: relative;
  }

  .gallery-section {
    margin: 25px 0px;
  }

  .virtual-section {
    padding: 25px 0px;
    position: relative;
  }

  .governance-section {
    padding: 25px 0px;
  }

  .links-section {
    &:before {
      height: 25px;
    }

    ul {
      li {
        width: 100%;

        &:nth-child(2n) {
          margin-left: 0px;
        }
      }
    }
  }

  .location-section {
    padding: 25px 0px;

    &:before {
      height: 25px;
    }
  }

  .transport-section {
    margin-top: 0px;
    padding: 25px 0px;
  }

  .newsletter-section {
    padding: 35px 0px;
  }

  .navbar_search {
    .custom-form-control {
      .mat-form-field {
        .mat-form-field-infix {
          width: 200px !important;
          padding: 0.6em 0px !important;
        }
      }
    }
  }

  .footer-sec {
    &:before {
      height: 24px;
    }

    .footer {
      padding: 20px 0 35px 0;
    }

    .footer-copyright {
      padding: 0px;
    }

    .q-links {
      li {
        text-align: left;
        margin: 5px 15px;
        width: 40%;
      }
    }
  }
}

/* ------------------------------ MOBILE-PHONES-VERTICAL -------------------- */
@media #{$breakpoint-xs} {
  .wrapper {
    width: 100% !important;
    padding: 0px 35px !important;
  }

  //HOME BANNER RESPONSIVE SCSS
  .banner-sec {
    &.main-section {
      .swiper-container {
        width: 100%;
        max-height: 100% !important;
        height: auto !important;
      }

      .swiper-slide {
        // padding: 25px 10px 50px 10px;
        height: auto !important;
        min-height: auto !important;
        // min-height: 145px !important;
        max-height: 100% !important;
      }
    }

    .banner-content {
      padding-top: 15px !important;
      margin: 0px auto;
      width: 100% !important;
      min-height: 100% !important;
      max-height: 100% !important;

      .main-heading {
        text-align: center !important;
        font-size: 17px !important;

        &:after {
          height: 2px !important;
          bottom: -5px !important;
          left: 25% !important;
          width: 40% !important;
        }
      }

      .sub-title {
        text-align: center !important;
        font-size: 15px !important;
      }

      .global-btn {
        margin: 0px auto;
        line-height: 30px !important;
        padding: 0px 5px !important;
        max-width: 150px !important;
        width: 120px !important;

        .mat-button-wrapper {
          font-size: 12px !important;
        }
      }

      .offer-icon {
        top: -25px !important;

        img {
          width: 56px !important;
        }
      }

      .offer-cards-box {
        display: block !important;
        margin-top: 15px;
      }

      .offer-card {
        margin: 0px auto 25px auto !important;
        width: 75% !important;
        height: auto !important;
        padding-top: 35px !important;
        padding-bottom: 10px;

        .offer-content {
          padding: 0px 5px !important;

          .offer-title {
            font-size: 12px !important;
          }
        }
      }
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      left: 0px !important;
      height: 30px !important;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      right: 0px !important;
      height: 30px !important;
    }
  }

  // INNER- BANNER
  .inner-banner {
    min-height: auto;
  }

  //FOTTER SECTION SCSS
  .footer {
    .footer-sec {
      .ft-text {
        p {
          font-size: 12px !important;
          font-weight: 300;
        }

        h6 {
          font-size: 14px !important;
        }
      }

      .s-links {
        margin: 5px 0px !important;

        li {
          max-width: 25px !important;
        }
      }

      .more-links {
        li {
          width: 33% !important;
          font-size: 14px !important;
          margin-bottom: 5px !important;
          display: inline-block;
        }

        h4 {
          font-size: 18px !important;
        }
      }

      .dial-care {
        margin: 10px 0px !important;

        a {
          font-size: 16px !important;
        }
      }

      .app-download {
        text-align: center;

        img {
          width: 150px !important;
          padding: 5px 0px !important;
        }
      }

      .trending-items {
        margin: 0px !important;

        .tags {
          font-size: 12px !important;

          .gap {
            padding: 0px 2px !important;
          }
        }
      }

      .footer-copyright {
        padding: 10px 0 !important;

        .copy-right {
          font-size: 14px !important;
        }
      }
    }
  }
}

/* ------------------------------ MOBILE-PHONES-SMALL-480-599-VERTICAL -------------------- */
@media #{$breakpoint-small} {}

/* ------------------------------ MOBILE-PHONES-HORIZONTAL ---------------- */
@media #{$breakpoint-sm} {
  .wrapper {
    width: 100% !important;
    padding: 0px 10px !important;
  }

  //HOME BANNER RESPONSIVE SCSS
  .banner-sec {
    &.main-section {
      .swiper-container {
        width: 100%;
        max-height: 100% !important;
        height: auto !important;
      }

      .swiper-slide {
        // padding: 25px 10px 50px 10px;
        height: auto !important;
        min-height: auto !important;
        // min-height: 145px !important;
        max-height: 100% !important;
      }
    }

    .banner-content {
      padding-top: 15px !important;
      margin: 0px auto;
      width: 100% !important;
      min-height: 100% !important;
      max-height: 100% !important;

      .main-heading {
        text-align: center !important;
        font-size: 17px !important;

        &:after {
          height: 2px !important;
          bottom: -5px !important;
          left: 25% !important;
          width: 40% !important;
        }
      }

      .sub-title {
        text-align: center !important;
        font-size: 15px !important;
      }

      .global-btn {
        margin: 0px auto;
        line-height: 30px !important;
        padding: 0px 5px !important;
        max-width: 150px !important;
        width: 120px !important;

        .mat-button-wrapper {
          font-size: 12px !important;
        }
      }

      .offer-icon {
        top: -25px !important;

        img {
          width: 56px !important;
        }
      }

      .offer-cards-box {
        display: block !important;
        margin-top: 15px;
      }

      .offer-card {
        margin: 0px auto 25px auto !important;
        width: 75% !important;
        height: auto !important;
        padding-top: 35px !important;
        padding-bottom: 10px;

        .offer-content {
          padding: 0px 5px !important;

          .offer-title {
            font-size: 12px !important;
          }
        }
      }
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      left: 0px !important;
      height: 30px !important;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      right: 0px !important;
      height: 30px !important;
    }
  }

  //PRODUCT-SECTION
  .products-section {
    .product-box {
      margin: 0px;

      .product-img {
        height: 125px;
      }
    }
  }

  //FOTTER SECTION SCSS
  .footer {
    .footer-sec {
      .ft-text {
        p {
          font-size: 12px !important;
          font-weight: 300;
        }

        h6 {
          font-size: 14px !important;
        }
      }

      .s-links {
        margin: 5px 0px !important;

        li {
          max-width: 25px !important;
        }
      }

      .more-links {
        li {
          width: 33% !important;
          font-size: 14px !important;
          margin-bottom: 5px !important;
          display: inline-block;
        }

        h4 {
          font-size: 18px !important;
        }
      }

      .dial-care {
        margin: 10px 0px !important;

        a {
          font-size: 16px !important;
        }
      }

      .app-download {
        text-align: center;

        img {
          width: 150px !important;
          padding: 5px 0px !important;
        }
      }

      .trending-items {
        margin: 0px !important;

        .tags {
          font-size: 12px !important;

          .gap {
            padding: 0px 2px !important;
          }
        }
      }

      .footer-copyright {
        padding: 10px 0 !important;

        .copy-right {
          font-size: 14px !important;
        }
      }
    }
  }
}

/* --------------------- I-PAD-HORIZONTAL-LAPTOPS-TABLETS ------------------- */
@media #{$breakpoint-md} {
  .mobile-top-menu-show {
    display: block !important;
  }

  .master-navbar-section {
    display: none !important;
  }

  //LOGIN RESPONSIVE SCSS
  .master-modal {
    max-width: 100% !important;
    width: 100% !important;
  }

  .wrapper {
    width: 100% !important;
    padding: 0px 10px !important;
  }

  .main-top-navbar {
    .header-main {
      .main-logo {
        padding-left: 0px;
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0 15px;
        width: 100%;
        justify-content: space-between;
        height: 60px;
        padding-top: 5px;

        img {
          width: 75px;
        }
      }
    }
  }

  //HOME BANNER RESPONSIVE SCSS
  .banner-sec {
    &.main-section {
      .swiper-container {
        width: 100%;
        max-height: 100% !important;
        height: auto !important;
      }

      .swiper-slide {
        // padding: 25px 10px 50px 10px;
        height: auto !important;
        min-height: auto !important;
        // min-height: 145px !important;
        max-height: 100% !important;
      }
    }

    .banner-content {
      padding-top: 15px !important;
      margin: 0px auto;
      width: 100% !important;
      min-height: 100% !important;
      max-height: 100% !important;

      .main-heading {
        text-align: center !important;
        font-size: 17px !important;

        &:after {
          height: 2px !important;
          bottom: -5px !important;
          left: 25% !important;
          width: 40% !important;
        }
      }

      .sub-title {
        text-align: center !important;
        font-size: 15px !important;
      }

      .global-btn {
        margin: 0px auto;
        line-height: 30px !important;
        padding: 0px 5px !important;
        max-width: 150px !important;
        width: 120px !important;

        .mat-button-wrapper {
          font-size: 12px !important;
        }
      }

      .offer-icon {
        top: -25px !important;

        img {
          width: 56px !important;
        }
      }

      .offer-cards-box {
        display: block !important;
        margin-top: 15px;
      }

      .offer-card {
        margin: 0px auto 25px auto !important;
        width: 75% !important;
        height: auto !important;
        padding-top: 35px !important;
        padding-bottom: 10px;

        .offer-content {
          padding: 0px 5px !important;

          .offer-title {
            font-size: 12px !important;
          }
        }
      }
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      left: 0px !important;
      height: 30px !important;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      right: 0px !important;
      height: 30px !important;
    }
  }

  //PRODUCT-SECTION
  .products-section {
    .product-box {
      margin: 0px;

      .product-img {
        height: 125px;
      }
    }
  }

  // INNER- BANNER
  .inner-banner {
    min-height: auto;
  }

  //FOTTER SECTION SCSS
  .footer {
    .footer-sec {
      .ft-text {
        p {
          font-size: 12px !important;
          font-weight: 300;
        }

        h6 {
          font-size: 14px !important;
        }
      }

      .s-links {
        margin: 5px 0px !important;

        li {
          max-width: 25px !important;
        }
      }

      .more-links {
        li {
          width: 33% !important;
          font-size: 14px !important;
          margin-bottom: 5px !important;
          display: inline-block;
        }

        h4 {
          font-size: 18px !important;
        }
      }

      .dial-care {
        margin: 10px 0px !important;

        a {
          font-size: 16px !important;
        }
      }

      .app-download {
        text-align: center;

        img {
          width: 150px !important;
          padding: 5px 0px !important;
        }
      }

      .trending-items {
        margin: 0px !important;

        .tags {
          font-size: 12px !important;

          .gap {
            padding: 0px 2px !important;
          }
        }
      }

      .footer-copyright {
        padding: 10px 0 !important;

        .copy-right {
          font-size: 14px !important;
        }
      }
    }
  }

  .uploaded-ul {
    li {
      display: inline-block;
      width: 25%;
      margin: 5px 10px;
    }
  }
}

/* --------------------- MEDIUM-LARGE-SCREEN ------------------- */
@media #{$breakpoint-md-lg} {}

/* --------------------- LARGE-SCREEN ------------------- */
@media #{$breakpoint-lg} {}

// /* --------------------- MAC-SCREEN ------------------- */
@media #{$breakpoint-mac} {}

// /* --------------------- EXTRA LARGE SCREENS ------------------- */
@media #{$breakpoint-xl} {}

/* ------------------------ 240-767--RESPONSIVE ----------------------- */
@media screen and (max-width: 767px) {}

// ABOVE-LAPTOP
@media screen and (min-width: 1370px) {
  .wrapper {
    max-width: 1423px;
    margin: 0 auto;
  }

  .banner-sec {
    &.main-section {
      .swiper-slide {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: 0 0 !important;
        min-height: 405px;
        max-height: 405px;
        border-radius: 3px;
      }
    }
  }
}
