// COLORS-SCSS
@import "colors";

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #e7d389;
  border-radius: 10px;
}

//WRAPPER SCSS
.wrapper {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.master-router-sec {
  // min-height: 100vh;
}

//Header CDK Overlay
// .mega-menu-panel+* .cdk-overlay-pane {
//   position: absolute !important;
//   max-width: 70%;
//   left: 0px !important;
//   right: 0px !important;
// top:0px !important;
//   margin-left: auto;
//   margin-right: auto;
//   .mat-menu-panel {
//     max-width: 100% !important;
//     .mat-menu-content {
//       padding: 0px 0px !important;
//     }
//   }
// }

//GLOBAL BTN SCSS
.global-btn {
  font-weight: 500 !important;
  letter-spacing: 0.06em;
  border-radius: 6px !important;
  border: 1px solid #03913f !important;
  color: #04923e;
  letter-spacing: 1px;
  // background-color: $primary;
  font-family: "Metropolis Medium", sans-serif !important;
  height: 28px;
  line-height: 26px !important;
  padding: 0 8px 0 8px !important;
  min-width: auto !important;

  .mat-button-wrapper {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: inline-flex;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }

  &.bg-btn {
    background-color: $primary;
    color: $black;
  }
}

.select-location-btn {
  color: $primary;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family: $font-family-medium;
  letter-spacing: 1px;

  img {
    margin-right: 15px;
    width: 20px;
  }
}

.or-divider {
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px !important;
  width: 50%;
  font-family: $font-family-medium;
  margin: 0px auto !important;
  color: #f93;

  &:before {
    background-color: $outline;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    right: 0.5em;
    margin-left: -50%;
    width: 50%;
  }

  &:after {
    background-color: $outline;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    left: 0.5em;
    margin-right: -50%;
    width: 50%;
  }
}

// CANCEL-BTN
.cancel-btn {
  font-weight: 500 !important;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  border-radius: 8px !important;
  border: 1px solid $grey-light !important;
  color: #000000;
  background-color: $grey-light;
  height: 32px;
  line-height: 25px !important;
  padding: 0 15px 0 15px !important;
  min-width: auto !important;

  .mat-button-wrapper {
    font-size: 14px;
    color: #000000;
    line-height: 22px;
  }
}

// MAT-ACCORDION-MENU
.mat-accordion {
  width: 100% !important;
  border-radius: 0px;

  .mat-expansion-panel {
    border-radius: 0px !important;
    box-shadow: none;
    margin: 0px 0 !important;
    width: 100%;

    .mat-expansion-panel-header {
      padding-left: 0px !important;
      border-radius: 0 !important;
      width: 100% !important;
      // background: #f8f8ff !important;
      border: 0;

      // border-bottom: 1px solid #EEEEEE !important;
      .mat-content {
        padding-left: 0px !important;

        .mat-expansion-panel-header-title {
          padding-left: 0px !important;
        }
      }

      &.mat-expanded {
        .mat-expansion-panel-header-title {
          color: $primary !important;
        }
      }
    }
  }
}

//FORM SECTION SCSS
.form-section {

  // FORM-GROUP-SCSS
  .custom-form-group {

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .custom-label {
      font-size: 14px;
      color: #202124;
      font-weight: 600;
      text-transform: capitalize;
      text-align: left;
      margin-bottom: 5px;
      padding-left: 0px;
      width: 100%;

      .star {
        display: none;
      }
    }

    .custom-form-control {
      position: relative;
      padding-bottom: 10px;

      .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: #1B1B6E !important;
      }

      .mat-form-field {
        width: 100% !important;

        .mat-form-field-wrapper {
          padding-bottom: 5px !important;

          .mat-form-field-flex {
            .mat-form-field-outline {
              .mat-form-field-outline-start {
                // min-width: 0;
                // border-left-style: none;
              }

              .mat-form-field-outline-end {
                // border-radius: 30px !important;
                // border-left-style: solid;
              }
            }

            .mat-input-element {
              font-size: 14px !important;
              font-weight: 400 !important;
              letter-spacing: 1px;
              padding-left: 0px;
              line-height: 20px;
            }

            .mat-select {
              line-height: 19px !important;
            }
          }
        }
      }

      .mat-radio-group {
        .mat-radio-button {
          margin: 10px 10px 10px 0px;
        }
      }
    }

    .text-hint {
      font-size: 18px;
      font-weight: 400;
      color: #1B1B6E;
    }
  }
}

// SEARCH RELEVENT
.form-section {
  &.search-form {
    line-height: 10px !important;

    // FORM-GROUP-SCSS
    .custom-form-group {

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .custom-form-control {
        position: relative;

        .mat-form-field {
          width: 100% !important;

          .mat-form-field-wrapper {
            padding-bottom: 0px !important;

            .mat-form-field-flex {
              .mat-form-field-outline {
                background: $white;
                color: $primary !important;

                .mat-form-field-outline-start {
                  min-width: 0;
                  border-left-style: none;
                }

                .mat-form-field-outline-end {
                  border-radius: 0px !important;
                  border-left-style: solid;
                }
              }

              .mat-select {
                line-height: 10px !important;

                .mat-select-placeholder {
                  color: #000000;
                  font-weight: 700;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

        .mat-radio-group {
          .mat-radio-button {
            margin: 10px 10px 10px 0px;
          }
        }
      }
    }
  }
}

// SEARCH RELEVENT
.form-section {
  &.profile-form {
    line-height: 10px !important;

    // FORM-GROUP-SCSS
    .custom-form-group {
      .custom-label {
        font-size: 16px;
        font-weight: 400;
        color: #707070;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .custom-form-control {
        position: relative;

        .mat-form-field {
          width: 100% !important;

          .mat-form-field-wrapper {
            padding-bottom: 15px !important;

            .mat-form-field-flex {
              .mat-form-field-outline {
                background: $white;
                color: $primary !important;

                .mat-form-field-outline-start {
                  min-width: 0;
                  border-left-style: none;
                }

                .mat-form-field-outline-end {
                  border-radius: 0px !important;
                  border-left-style: solid;
                  border: 0px;
                  border-bottom: 1px solid;
                }
              }

              .mat-select {
                line-height: 10px !important;
              }
            }
          }

          .verified-icon {
            width: 20px;
            height: 20px;
            display: inline-block;

            img {
              width: 100%
            }
          }
        }
      }
    }
  }
}

.lng-drop-down {
  &.mat-elevation-z4 {
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.17);
    border: 1px solid $outline;
  }

  &.mat-menu-panel {
    min-width: 80px !important;
  }

  .mat-menu-content:not(:empty) {
    padding: 0px 0px 0 0px !important;
  }
}

// MEDIA-SCSS
.media {
  display: flex;
  align-items: flex-start;

  .media-left {
    margin-right: 15px;
    display: table-cell;
    vertical-align: top;

    img {}
  }

  .media-body {
    flex: 1;
    display: table-cell;
    vertical-align: top;

    .media-heading,
    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
}

.imp-header {
  color: #00a784;
  font-weight: 800 !important;
  font-family: $font-family-bold;
  font-size: 35px !important;
  position: relative;
  line-height: 40px !important;
  text-align: center;
  margin-bottom: 85px !important;

  &:before {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    top: 0;
    bottom: -100px;
    transform: scaley(-1);
    top: 0px;
    /* border-bottom: 50px solid white; */
    background: url('../assets/images/title_border.png');
    /* border-image-slice: 0 194; */
    border-image-repeat: no;
    /* z-index: 99999999; */
    background-repeat: no-repeat;
    /* text-align: center; */
    background-position: center;
    background-size: auto;
  }
}

.bg-pattern {
  position: relative;

  &.bg-pattern-inner {
    &:before {
      opacity: 0 !important;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 45px;
    right: 0;
    width: 95%;
    margin: 0px auto;
    left: 0;
    bottom: 0px;
    opacity: 0.1;
    background-image: url('../assets/images/flower-pattern-big.svg');
    background-size: 35%;
    background-repeat: repeat !important;
    background-position: center;
  }

  .overlay {
    opacity: 0.5;

    &:before {
      position: absolute;
      content: '';
      right: 0;
      left: 0;
      top: 0;
      bottom: 0px;
      top: 0px;
      border-left: 35px solid white;
      border-image-source: url('../assets/images/border-left.png');
      border-image-slice: 0 105;
      border-image-repeat: repeat;
    }

    &:after {
      position: absolute;
      content: '';
      right: 0;
      left: 0;
      top: 0;
      bottom: 0px;
      top: 0px;
      border-right: 35px solid white;
      border-image-source: url('../assets/images/border-right.png');
      border-image-slice: 0 105;
      border-image-repeat: repeat;
    }
  }
}

.welcome-overlay {
  position: relative;

  .left-welcome {
    position: absolute;
    left: 40px;
    top: 60px;
    z-index: 999;
    transform: scaleX(-1);
    height: 165px;
  }

  .right-welcome {
    position: absolute;
    right: 40px;
    top: 60px;
    z-index: 999;
    height: 165px;
  }
}

.mat-drawer-container {
  background-color: #f1dac0 !important;
}

// MAT-DIALOG
.mat-dialog-container {
  padding: 10px !important;
  background: transparent !important;
  box-shadow: none !important;
  overflow: hidden !important;
}

//MAIN BANNER
.banner-sec {
  position: relative;
  margin-bottom: 20px;

  &.main-section {
    .swiper-container {
      width: 100%;
      // max-height: 320px;
      margin-left: auto;
      margin-right: auto;
      z-index: 1;
    }

    .swiper-slide {
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: 0 0 !important;
      min-height: 350px;
      max-height: 350px;
      border-radius: 3px;
      // border: 1px solid red;
    }

    .swiper-container {
      // height: 320px;
    }

    .swiper-pagination {
      bottom: 10px;

      .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 100%;
        background: transparent;
        border: 1px solid $white;
        opacity: .8;
        border: 2px solid #fff !important;
        display: none;

        &.swiper-pagination-bullet-active {
          background: #fff;
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }

  img {
    // max-height: 320px;
    width: 100%;
    object-fit: cover;
    object-position: 100%;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-color: #0000002b;
    background-repeat: no-repeat;
    height: 60px;
    line-height: 20px;
    background-size: 40% 40% !important;
    background-position: center;
    transition: all .3s ease-in-out 0s;
  }

  .swiper-button-prev {
    border-radius: 0px 10px 10px 0px;

    img {
      width: 12px;
    }

    &:hover {
      background-color: $primary;
      background-repeat: no-repeat;
      background-size: 40% 40% !important;
    }
  }

  .swiper-button-next {
    border-radius: 10px 0px 0px 10px;

    img {
      width: 12px;
    }

    &:hover {
      background-color: $primary;
      background-repeat: no-repeat;
      background-size: 40% 40% !important;
    }
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 0px !important;
    right: auto;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 0px !important;
    left: auto;
  }

  // .swiper-button-prev,
  // .swiper-container-rtl .swiper-button-next {
  //   background-image: url(src/assets/images/icons/slider-left-arrow.svg) !important;
  //   left: 0px;
  //   right: auto;
  //   outline: 0 !important;
  // }
  // .swiper-button-next,
  // .swiper-container-rtl .swiper-button-prev {
  //   background-image: url(src/assets/images/icons/slider-right-arrow.svg) !important;
  //   right: 0px;
  //   left: auto;
  //   outline: 0 !important;
  // }
}

//INNER-BANNER
.inner-banner {
  min-height: 250px;
  height: 70vh;
  width: 90%;
  position: relative;
  margin: 0px auto;
  width: 90%;
  overflow: hidden;
  display: block;

  img {
    width: 100%;
    object-fit: cover;
    height: 70vh;
  }
}

.section-padding {
  padding: 25px 0px;
}

.inner-section {
  .inner-content {
    position: relative;
    // background-image: url('../assets/images/text_frame.png');
    // background-size: contain;
    // background-repeat: no-repeat !important;
    // background-position: center;
    min-height: 450px;
    max-height: 450px;
    overflow: hidden;

    //   &:after{
    //     content:'';
    //     position: absolute;
    //     top:0;
    //     bottom: 0;
    //     right:0;
    //     left:0;
    //     background-image: url('../assets/images/text_frame.png');
    //     background-size: contain;
    //     background-repeat: no-repeat !important;
    //     background-position: center;
    //     z-index: 999;
    //  }
    .inner-image {
      position: relative;
      min-height: 450px;
      max-height: 450px;
      overflow: hidden;

      img {
        object-fit: fill;
        width: 100%;
        height: 450px;
      }
    }

    .over-content {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 0;
      right: 0px;
      margin: 40px;
      // overflow: hidden;
      overflow-y: auto;
    }
  }

  .main-heading {
    font-size: 30px !important;
    font-weight: 800 !important;
    line-height: 45px;
    margin-bottom: 15px;
    color: #5e1d14;
    font-family: $font-family-bold;
  }

  .sub-heading {
    width: 70%;
    margin: 10px auto;
    text-align: center;
  }

  p {
    color: #3d5671;
    // font-size: 24px;
    // font-weight: 500;
    // line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin-bottom: 5px !important;

    b {
      font-weight: 700;
      margin-right: 10px;
    }
  }

  .left-img {
    position: relative;

    .overlay-frame {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 999;
      object-fit: fill;
    }

    img {
      width: 100%;
      min-height: 450px;
      max-height: 450px;
      object-fit: cover;
      border-radius: 6px;
    }

    //   &:after{
    //     content:'';
    //     position: absolute;
    //     top:0;
    //     bottom: 0;
    //     right:0;
    //     left:0;
    //     background-image: url('../assets/images/photo_frame.png');
    //     background-size: contain;
    //     background-repeat: no-repeat !important;
    //     background-position: center;
    //     z-index: 999;
    //  }
  }
}

// MAT-DIALOG
.mat-dialog-container {
  padding: 10px !important;
  background: transparent !important;
  box-shadow: none !important;
  overflow: hidden !important;
}

// CUSTOM-MODAL
.custom-modal {
  .master-modal {
    .modal-header {
      border-bottom: 1px solid #DADCE0;
      padding: 5px 10px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background: #DADCE0;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;

      .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 17px;
        font-weight: 600;

        h2 {
          font-size: 24px;
          margin-bottom: 0px;
        }
      }

      .modal-close {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .mat-dialog-content {
      padding: 0 10px;
      margin: 0 0px;
      max-height: 65vh;
      overflow: initial;
    }

    .modal-body {
      padding: 15px;
      background-color: #fff;
    }

    .modal-footer {
      background-color: #fff;

      .mat-button {
        margin-right: 5px;
        line-height: 30px;
        font-weight: 600;
      }

      .add-btn {
        background: $primary !important;
        color: $white !important;
        border: 1px solid $primary !important;
      }

      .delete-btn {
        background: $base-red !important;
        color: $white !important;
        border: 1px solid $base-red !important;
      }

      .cancel-btn {
        color: $base-red !important;
        border: 1px solid $base-red !important;
        border-color: $base-red !important;
      }
    }
  }

  &.custom-delete-modal {
    .modal-header {
      background: $base-red !important;
      align-items: center;
      padding: 10px 15px;

      .modal-title {
        color: $white !important;

        h2 {
          font-size: 24px;
          margin-bottom: 0px;
        }
      }

      .modal-close {
        color: #fff;
        cursor: pointer;
      }
    }

    .modal-body {
      padding: 15px 0px 15px 0px;
      background: $white;

      .notification-delete {
        padding: 10px 10px;
        border-radius: 4px;
        background: $base-red !important;
        color: $base-red !important;

        p {
          margin-bottom: 0;
          font-weight: 500;
        }
      }

      p {
        font-weight: 600;
        font-size: 16px;
      }
    }

    .modal-footer {
      background: $white;
      background: #FFFFFF;
      padding: 5px 15px;
      justify-content: center;

      .mat-button {
        margin-right: 5px;
        line-height: 30px;
        font-weight: 600;
      }

      .delete-btn {
        background: $base-red !important;
        color: $white !important;
        border: 1px solid $base-red !important;
      }

      .cancel-btn {
        color: $base-red !important;
        border: 1px solid $base-red !important;
        border-color: $base-red !important;
      }
    }
  }

  // .modal-footer {
  //   .mat-button {
  //     margin-right: 5px;
  //     &:first-child {
  //       border: 1px solid #cccccc !important;
  //     }
  //   }
  // }
}

// CUSTOM-MODAL
.login-modal {
  .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  .mat-horizontal-content-container {
    padding: 0px !important;
  }

  .master-modal {
    .modal-dialog {
      max-width: 100%;

      .modal-content {
        border-radius: 24px;
        overflow: hidden;

        .modal-header {
          border-bottom: 1px solid #DADCE0;
          padding: 5px 10px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          background: #DADCE0;
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          align-items: center;

          .modal-title {
            margin-bottom: 0;
            line-height: 1.5;
            font-size: 17px;
            font-weight: 600;
          }

          .modal-close {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .mat-dialog-content {
          padding: 0px !important;
          margin: 0 0px;
          max-height: 85vh;
          overflow: initial;
        }

        .modal-body {
          padding: 0px !important;

          .modal-close {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 0;
            z-index: 999;
            height: 48px;
            display: flex;
            align-items: center;

            justify-content: center i {
              font-weight: 600;
            }
          }

          .custom-form-group {
            .custom-label {
              margin-bottom: 2px;
              color: #15325B;
              font-weight: 500;
              font-family: $font-family-medium;
              font-size: 13px;
            }
          }

          .timeslot-day {
            .mat-tab-group {
              margin-top: 0px;

              .mat-tab-label {
                width: 99%;
              }

              .mat-tab-body-wrapper {
                padding-top: 10px;
              }
            }
          }
        }

        .modal-footer {
          .global-btn {
            width: auto !important;
            height: 30px !important;
            line-height: 25px !important;
          }
        }
      }
    }
  }

  .modal-footer {
    .mat-button {
      margin-right: 5px;

      &:first-child {
        border: 1px solid #cccccc !important;
      }
    }
  }
}

//LOGIN POP-OVER
.login-right-section {
  background: $primary;
  min-height: 490px;

  .main-title {
    color: $white;
    font-size: 24px;
    font-weight: 500;
    font-family: $font-family-medium;
    margin: 25% auto;
    letter-spacing: 1.2px;
    width: 85%;
    line-height: 28px;
  }

  .item-file {
    width: 75%;
    margin: 23% auto;
  }
}

.login-left-section {
  padding: 4% 5%;
  height: 485px;
  overflow: auto;

  .main-heading {
    color: #15325B;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
    letter-spacing: 1.2px;
    font-family: $font-family-medium;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      margin: 5px 0px;
      width: 9%;
      height: 6px;
      background: #138808;
      border-radius: 5px;
    }
  }

  .custom-form-group {
    position: relative;
    padding: 5px 7px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.141));
    background-color: #FFFFFF;

    .d-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-size: 13px;
        color: $primary
      }
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: $white !important;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      opacity: 0;
      left: 0;
      border-left: 5px solid #138808;
      border-radius: 25px;
      transition: 0.5s;
    }

    .custom-form-control {
      padding: 0px;
    }

    &:hover {
      &::after {
        opacity: 1;
        transition: ease-in; // And then height
      }
    }
  }

  .flex-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
  }

  p {
    color: #224070;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;

    span {
      margin-left: 10px;
      color: $primary !important;
      letter-spacing: 1px;
    }
  }

  .divider {
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: center;
    display: flex;
    align-items: center;

    h4 {
      font-size: 17px;
      color: $grey;
      margin-bottom: 0px;
    }

    .change-no {
      margin-left: 5px;
      color: $primary !important;
    }
  }

  .social-logins {
    margin: 10 px 0px;

    p {
      color: #B8C5D3;
      font-weight: 500;
    }

    li {
      margin-right: 10%;
      display: inline-block;

      img {
        width: 25px;
      }
    }
  }

  .otp-input {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important;
    border: 0px !important;
    border-bottom: 1px solid $outline !important;
    text-align: center;
    font-size: 24px;
    background: none;
  }

  .otp-number {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 1.2px;
  }

  .welcome-msg {
    text-align: center;
    margin: 5% auto;
    width: 75%;

    .success-icon {
      width: 65px;
      display: inline-block;
      margin-bottom: 15px;
    }

    h4 {
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
      color: $primary;
    }

    p {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

// Profile-Uploader
.profile-upload-sec {
  position: relative;
  width: 115px;
  height: 115px;
  margin: 5px auto 0 auto;
  display: block;

  .master-img-upload {
    box-shadow: none;
  }

  .uploader {
    margin-bottom: 5px;
    padding-top: 0px;
    height: 115px;
    width: 115px;
    display: block;
    text-align: center;
    line-height: 52px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px dashed #138814;
    padding: 4px;

    .upload-icon {
      width: 35px !important;
      margin: 10px 0px;
    }

    h2 {
      padding: 0;
      background: none;
      border: none;
      font-size: 12px;
      font-weight: 400;
      white-space: normal;
      color: #138814;
      width: 95%;
      letter-spacing: 1.2px;
      margin: 0 auto;
      margin-top: 0px;
      padding-bottom: 0px !important;
    }
  }

  .uploaded-img {
    height: 115px !important;
    width: 115px;
    position: absolute;
    z-index: 99999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #eee;
    padding: 2px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .primary-btn {
    margin: 0 0;
    position: absolute;
    bottom: 1px;
    width: 115px;
    height: 35px;
    border: 0;
    background: #00000059;
    // opacity: 0.5;
    overflow: hidden;

    span {
      color: #fff;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }

  .input-upload {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }

  .upload-content {
    background: transparent !important;
  }
}

//LEFT FILTER SCSS
.left-filter-section {
  background: $white;
  padding: 20px 15px;

  .filter-main-title {
    font-size: 18px;
    color: $primary;
    border-bottom: 1px solid $primary;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 0px;
  }

  .filter-sub-title {
    font-size: 14px;
    color: #138808;
    text-transform: uppercase;
    font-weight: 500;
    font-family: $font-family-medium;
    padding: 5px 0px;
    margin-bottom: 15px;
  }

  .filter-list-section {
    .filter-head {
      font-size: 14px;
      font-weight: 600;
      color: $primary;
      margin: 0px;
    }

    &.mat-expansion-panel {
      box-shadow: none !important;
    }

    .mat-expansion-panel-header {
      padding: 0 5px !important;
    }

    .mat-expansion-indicator::after {
      padding: 4px !important;
      margin-top: -10px !important;
    }

    .cat-sub-list {
      list-style: none;
      padding: 0px;
      margin: 0px;

      li {
        display: block;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1.2px;
        color: #eee;
        margin: 10px 0px;
        border-bottom: 1px solid $outline;
        position: relative;

        .icon {
          opacity: 0;
          position: absolute;
          right: 5px;
        }

        &.active {
          color: $primary-light !important;

          .icon {
            opacity: 1;
          }
        }

        &:hover {
          color: $primary-light !important;

          .icon {
            opacity: 1;
          }
        }
      }
    }
  }

  .cat-check-list {
    list-style: none;
    padding: 0px;
    margin: 0px;

    li {
      display: block;
      margin-bottom: 5px;

      .mat-ripple-element {
        display: none !important;
      }

      .mat-checkbox-layout {
        .mat-checkbox-label {
          color: #eeee !important;
          font-size: 14px;
          font-weight: 400;

          .count {
            margin-left: 5px;
          }
        }

        .mat-checkbox-inner-container {
          height: 20px !important;
          margin-right: 10px !important;
          width: 20px !important;
        }
      }

      .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
      .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: $primary !important;
      }

      .mat-checkbox-frame {
        border-color: $primary !important;
        border-width: 1px !important;
      }
    }

    .view-more {
      text-align: center;
      text-decoration: underline;
      font-weight: 500;
      padding-left: 25px;
      color: #eee;
    }
  }

  .dimensions-slider {
    .slider-label {
      font-size: 13px;
      color: #eee;
    }

    .ng5-slider {
      .ng5-slider-pointer {
        cursor: pointer;
        width: 22px !important;
        height: 22px !important;
        top: -10px !important;
        background-color: #138808;
        z-index: 3;
        border-radius: 16px;

        &:after {
          content: '';
          width: 18px;
          height: 18px;
          top: 2px;
          left: 2px;
          border-radius: 25px;
          background: $white;
        }
      }

      .ng5-slider-selection {
        z-index: 2;
        background: #138808;
        border-radius: 2px;
      }
    }

    .mat-form-field-wrapper {
      padding-bottom: 10px !important;

      .mat-form-field-flex {
        .mat-form-field-outline {
          background: $white;
          color: #000 !important;

          .mat-form-field-outline-start {
            min-width: 0;
            border-left-style: none;
          }

          .mat-form-field-outline-end {
            border-radius: 0px !important;
            border-left-style: solid;
          }
        }
      }
    }
  }

  .mat-radio-button {
    margin-left: 10px !important;
  }
}

//TOGGLE-SELECTION-LISTING
//SELECTION BUTTON TOGGLE
.selection-list {
  border: 0px !important;
  border-radius: 0px !important;
  margin: 10px 0px;
  flex-wrap: wrap;

  .mat-button-toggle {
    border-color: $outline !important;
    background-color: $grey !important;
    color: #000;
  }

  .mat-button-toggle-checked .mat-button-toggle-focus-overlay {
    visibility: hidden !important;
  }

  .mat-button-toggle {
    border-radius: 25px !important;
  }

  .mat-button-toggle-appearance-standard {
    color: #000 !important;
    background: #EAEFED !important;
    margin: 5px 5px;
    border-radius: 25px;
    border: 1px solid $outline;

    .mat-button-toggle-label-content {
      line-height: 34px;
      padding: 0 20px;
      letter-spacing: 1.2px;
      border-radius: 25px;
    }
  }

  .mat-button-toggle-checked {
    background-color: $primary !important;
    color: $white !important;
    border-radius: 25px !important;
  }
}

.video-banner-sec {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  margin-bottom: 0px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.4;
    background-size: contain;
    background-repeat: no-repeat !important;
    background-position: center;
    z-index: 9;
  }

  .video-thumbnail {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-size: cover;
    top: 0;
    left: 0;
  }

  .video {
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0px;
      object-fit: cover;
    }
  }

  .video-play {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -45px;
    width: 85px;
    display: none;
    text-decoration: none;
  }

  .banner-content {
    position: absolute;
    top: 65%;
    right: 10%;
    z-index: 99;

    h2 {
      font-size: 45px;
      font-family: $font-family-thin;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      color: #fff;
      width: 100%;
      line-height: 55px;

      .marked {
        font-weight: 900 !important;
        color: #FFB60C;
        display: block;
        font-family: $font-family-bold;
      }
    }
  }
}

//FEATURED SLIDER SCSS
.featured-section {
  background-attachment: fixed;
  padding-top: 60px;
  background-position: center;
  background-size: cover;
  margin-top: -10px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45px;
    background-image: url('../assets/images/banner-border-bottom.png');
    background-size: contain;
    background-repeat: repeat !important;
    background-position: center;
    z-index: 999;
  }

  .product-box-big {
    position: relative;
    width: 100%;
    margin-top: 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .product-img {
      position: relative;
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      // height: 185px;
      img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
        width: 100%;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // align-content: center;
        // height: 100%;
        // object-fit: fill;
        // margin: 0px auto;
      }
    }

    .product-content {
      padding: 25px 50px 25px 50px;
      position: absolute;
      width: 40%;
      top: 0px;
      bottom: 55%;
      right: 0px;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;

      &.bg-blue {
        // background-color: #009fdf;
        background-color: #135d0ebd;
      }

      h4 {
        font-size: 28px;
        line-height: 20px;
        font-weight: 300;
        letter-spacing: 1px;
        margin: 0 0 8px 0;
        color: $white;
      }

      p {
        color: $white;
        font-size: 20px;
        letter-spacing: 1.2px;
        line-height: 25px;
      }

      .readmore-btn {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        letter-spacing: 1.2px;
        z-index: 999;

        img {
          width: 17px;
          margin-right: 5px;
        }
      }
    }

    &:hover {
      .product-content {
        bottom: 0px;
      }
    }
  }

  .product-box {
    background: #FAFAFA;
    border-radius: 8px;
    // padding: 6px;
    position: relative;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin: 0px 30px;

    // margin: 0 15px 25px 0;
    img.clear-product {
      top: 10px;
      right: 10px;
      position: absolute;
    }

    .product-img {
      position: relative;
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      // height: 185px;
      img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
        width: 100%;
        border-radius: 8px;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // align-content: center;
        // height: 100%;
        // object-fit: fill;
        // margin: 0px auto;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: url('../assets/images/photo_frame.png');
        background-size: cover;
        background-repeat: no-repeat !important;
        background-position: center;
        z-index: 99;
      }
    }

    .product-content {
      // padding: 15px 45px 25px 45px;
      position: absolute;
      bottom: 0px;
      margin: 5px 25px 25px 25px;
      padding: 15px 5px 25px 5px;
      z-index: 9999;
      // width: 100%;
      top: 50%;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;

      &.bg-pink {
        background-color: #de7b9bb0;
        // background-color: #036618;
      }

      &.bg-gold {
        background-color: #5a3403b3;
        // background-color: #b81a02;
      }

      &.bg-blue {
        // background-color: #009fdf;
        background-color: #34656aa8;
      }

      &.bg-green {
        background-color: #093b169e;
      }

      h4 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: 1px;
        margin: 0 0 8px 0;
        color: $white;
      }

      p {
        color: $white;
        font-size: 14px;
        letter-spacing: 1.2px;
        line-height: 20px;
        margin-bottom: 5px;
      }

      .readmore-btn {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 999;
        letter-spacing: 1.2px;

        img {
          width: 17px;
          margin-right: 5px;
        }
      }

      // .readmore-btn {
      //   display: flex;
      //   justify-content: center;
      //   border: 1px solid #DDDFE1;
      //   margin: 10px 0px;
      //   height: 32px;
      //   line-height: 32px;
      //   border-radius: 25px;
      //   .mat-button-wrapper {
      //     color:$white;
      //     font-weight: 400;
      //     font-size: 16px;
      //     letter-spacing: 0.5px;
      //   }
      // }
    }

    &:hover {
      .product-content {
        top: 25px;
      }

      // .readmore-btn {
      //   border: 1px solid #048c3a;
      //   background-color: #048c3a;
      //   .mat-button-wrapper {
      //     color: #ffffff;
      //   }
      // }
      // filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.141));
      // background-color: #FFFFFF;
    }
  }

  .product-box-door {
    background: #FAFAFA;
    border-radius: 8px;
    // padding: 6px;
    position: relative;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin: 0px 30px;
    border: 15px solid #853730;

    .door1 {
      transform-style: preserve-3d;
      transition: transform 0.5s, box-shadow 0.5s;
      transform-origin: left center;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      display: inline-block;
      /* change the default display type to inline-block */
      overflow: hidden;
      z-index: 999999;
      transition: all 0.5s ease-in-out;
      object-fit: fill;
      width: 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .door2 {
      transform-style: preserve-3d;
      transition: transform 0.5s, box-shadow 0.5s;
      transform-origin: right center;
      position: absolute;
      top: 0px;
      display: inline-block;
      /* change the default display type to inline-block */
      overflow: hidden;
      bottom: 0px;
      right: 0px;
      z-index: 999999;
      transition: all 0.5s ease-in-out;
      object-fit: fill;
      width: 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    // margin: 0 15px 25px 0;
    img.clear-product {
      top: 10px;
      right: 10px;
      position: absolute;
    }

    .product-img {
      position: relative;
      width: 100%;
      // border-top-left-radius: 8px;
      // border-top-right-radius: 8px;
      border: 2px solid #82362e;

      // height: 185px;
      img {
        // border-top-left-radius: 8px;
        // border-top-right-radius: 8px;
        object-fit: cover;
        width: 100%;
        border-radius: 8px;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // align-content: center;
        // height: 100%;
        // object-fit: fill;
        // margin: 0px auto;
      }

      // &:after {
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   bottom: 0;
      //   right: 0;
      //   left: 0;
      //   background-image: url('../assets/images/photo_frame.png');
      //   background-size: cover;
      //   background-repeat: no-repeat !important;
      //   background-position: center;
      //   z-index: 99999;
      // }
    }

    .product-content {
      // padding: 15px 45px 25px 45px;
      position: absolute;
      bottom: 0px;
      // margin: 5px 25px 25px 25px;
      padding: 15px 5px 25px 5px;
      z-index: 9999;
      // width: 100%;
      top: 50%;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;

      &.bg-pink {
        background-color: #de7b9bb0;
        // background-color: #036618;
      }

      &.bg-gold {
        background-color: #5a3403b3;
        // background-color: #b81a02;
      }

      &.bg-blue {
        // background-color: #009fdf;
        background-color: #34656aa8;
      }

      &.bg-green {
        background-color: #093b169e;
      }

      h4 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: 1px;
        margin: 0 0 8px 0;
        color: $white;
      }

      p {
        color: $white;
        font-size: 14px;
        letter-spacing: 1.2px;
        line-height: 20px;
        margin-bottom: 5px;
      }

      .readmore-btn {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 999;
        letter-spacing: 1.2px;

        img {
          width: 17px;
          margin-right: 5px;
        }
      }

      // .readmore-btn {
      //   display: flex;
      //   justify-content: center;
      //   border: 1px solid #DDDFE1;
      //   margin: 10px 0px;
      //   height: 32px;
      //   line-height: 32px;
      //   border-radius: 25px;
      //   .mat-button-wrapper {
      //     color:$white;
      //     font-weight: 400;
      //     font-size: 16px;
      //     letter-spacing: 0.5px;
      //   }
      // }
    }

    &:hover {
      .door1 {
        transform: perspective(900px) rotateY(-105deg);
      }

      .door2 {
        transform: perspective(900px) rotateY(105deg);
      }

      .product-content {
        top: 0px;
      }

      // .readmore-btn {
      //   border: 1px solid #048c3a;
      //   background-color: #048c3a;
      //   .mat-button-wrapper {
      //     color: #ffffff;
      //   }
      // }
      // filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.141));
      // background-color: #FFFFFF;
    }
  }

  .mana_narmetta_column_second {
    .product-box {
      .product-img {
        // &::after {
        //   background-image: url('../assets/images/door5.png') !important;
        //   width: 447px;
        //   height: 410px;
        //   left: -88px;
        //   top: -17px;
        // }
        // &::before {
        //   background-image: url('../assets/images/door4.png') !important;
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   bottom: 0;
        //   right: 0;
        //   left: 0;
        //   background-size: cover;
        //   background-repeat: no-repeat !important;
        //   background-position: center;
        //   z-index: 99999;
        // }
      }

      //   .second_overlay {
      //     position: absolute;
      //     top: -2px;
      //     left: -85px;
      //     right: 0;
      //     bottom: 0;
      //     width: 420px;
      //     object-fit: contain;
      //     img{
      //       width: 100%;
      //       height: 390px;
      //       object-fit: cover;
      //     }
      // }
    }
  }

  .mana_narmetta_column_third {
    .product-box {
      .product-img {
        &::after {
          background-image: none;
        }
      }

      .product-content {
        margin: 0;
      }
    }
  }

  // .product-slider {
  //   padding: 5px 0px 0px 0px;
  //   //background: $white;
  //   // box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05);
  //   border-radius: 2px;
  //   // position: relative;
  //   // z-index: 99;
  //   // margin-top:-80px;
  // }
  // .swiper-wrapper {
  //   padding-left: 0px;
  //   margin-top: 5px;
  // }
  // .swiper-container{
  //   margin-left: 10%;
  // }
}

.govt-section {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;

  .product-box-big {
    position: relative;
    width: 100%;
    margin-top: 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .product-img {
      position: relative;
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      // height: 185px;
      img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
        width: 100%;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // align-content: center;
        // height: 100%;
        // object-fit: fill;
        // margin: 0px auto;
      }
    }

    .product-content {
      padding: 25px 50px 25px 50px;
      position: absolute;
      width: 40%;
      top: 0px;
      bottom: 55%;
      right: 0px;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;

      &.bg-blue {
        // background-color: #009fdf;
        background-color: #135d0ebd;
      }

      h4 {
        font-size: 28px;
        line-height: 20px;
        font-weight: 300;
        letter-spacing: 1px;
        margin: 0 0 8px 0;
        color: $white;
      }

      p {
        color: $white;
        font-size: 20px;
        letter-spacing: 1.2px;
        line-height: 25px;
      }

      .readmore-btn {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        letter-spacing: 1.2px;

        img {
          width: 17px;
          margin-right: 5px;
        }
      }
    }

    &:hover {
      .product-content {
        bottom: 0px;
      }
    }
  }

  .product-box {
    background: #FAFAFA;
    border-radius: 8px;
    // padding: 6px;
    position: relative;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    // margin: 0 15px 25px 0;
    img.clear-product {
      top: 10px;
      right: 10px;
      position: absolute;
    }

    .product-img {
      position: relative;
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      // height: 185px;
      img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
        width: 100%;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // align-content: center;
        // height: 100%;
        // object-fit: fill;
        // margin: 0px auto;
      }
    }

    .product-content {
      padding: 15px 25px 15px 25px;
      position: absolute;
      bottom: 0px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      top: 50%;
      width: 100%;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;

      &.bg-pink {
        background-color: #de7b9b6b;
        // background-color: #036618;
      }

      &.bg-gold {
        background-color: #d8a33cc9;
        // background-color: #b81a02;
      }

      &.bg-blue {
        // background-color: #009fdf;
        background-color: #34656ab0;
      }

      &.bg-green {
        background-color: #093b16ab;
      }

      h4 {
        font-size: 22px;
        line-height: 30px;
        font-weight: 300;
        letter-spacing: 1px;
        margin: 0 0 8px 0;
        color: $white;
      }

      p {
        color: $white;
        font-size: 15px;
        letter-spacing: 1.2px;
        line-height: 25px;
      }

      .readmore-btn {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        letter-spacing: 1.2px;

        img {
          width: 17px;
          margin-right: 5px;
        }
      }

      // .readmore-btn {
      //   display: flex;
      //   justify-content: center;
      //   border: 1px solid #DDDFE1;
      //   margin: 10px 0px;
      //   height: 32px;
      //   line-height: 32px;
      //   border-radius: 25px;
      //   .mat-button-wrapper {
      //     color:$white;
      //     font-weight: 400;
      //     font-size: 16px;
      //     letter-spacing: 0.5px;
      //   }
      // }
    }

    &:hover {
      .product-content {
        top: 0px;
      }

      // .readmore-btn {
      //   border: 1px solid #048c3a;
      //   background-color: #048c3a;
      //   .mat-button-wrapper {
      //     color: #ffffff;
      //   }
      // }
      // filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.141));
      // background-color: #FFFFFF;
    }
  }

  // .product-slider {
  //   padding: 5px 0px 0px 0px;
  //   //background: $white;
  //   // box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05);
  //   border-radius: 2px;
  //   // position: relative;
  //   // z-index: 99;
  //   // margin-top:-80px;
  // }
  // .swiper-wrapper {
  //   padding-left: 0px;
  //   margin-top: 5px;
  // }
  // .swiper-container{
  //   margin-left: 10%;
  // }
}

.frame-video {
  margin-top: 50px;
}

.viewmore-btn {
  font-size: 18px;
  color: #f5f5f5;
  letter-spacing: 1.2px;
  font-weight: 600;
  background: #00a887;
  padding: 6px 25px;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
  margin: 15px auto;

  img {
    width: 17px;
    margin-left: 5px;
  }
}

//IMPORTANT-SECTION
.public-section {
  padding: 25px 0px;
  position: relative;

  .product-box {
    border-radius: 8px;
    // padding: 6px;
    position: relative;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    // margin: 0 15px 25px 0;
    img.clear-product {
      top: 10px;
      right: 10px;
      position: absolute;
    }

    .product-img {
      position: relative;
      width: 100%;
      text-align: center;

      &.after-none {
        &:after {
          display: none !important;
        }
      }

      &:after {
        position: absolute;
        right: -10px;
        top: 0px;
        left: 0px;
        bottom: 0px;
        content: "";
        display: block;
        border-right: solid 3px #00a887;
      }

      img {
        width: 115px;
        filter: black;
        /* IE6-9 */
        -webkit-filter: grayscale(1);
        /* Google Chrome, Safari 6+ & Opera 15+ */
        filter: grayscale(1);
        /* Microsoft Edge and Firefox 35+ */
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // align-content: center;
        // height: 100%;
        // object-fit: fill;
        // margin: 0px auto;
      }
    }

    .product-content {
      margin: 0px auto 15px auto;
      padding: 10px 10px 10px 10px;

      h4 {
        font-size: 22px;
        line-height: 20px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 1px;
        margin: 0 0 8px 0;
        color: #020600;
      }
    }

    &:hover {
      .product-content {
        h4 {
          color: #00a887;
        }
      }

      .product-img {
        img {
          -webkit-filter: grayscale(0);
          filter: none;
        }
      }
    }
  }
}

.governance-section {
  padding: 25px 0px;

  .product-box {
    background: #FAFAFA;
    border-radius: 8px;
    // padding: 6px;
    position: relative;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    // margin: 0 15px 25px 0;
    img.clear-product {
      top: 10px;
      right: 10px;
      position: absolute;
    }

    .product-img {
      position: relative;
      width: 100%;
      border-radius: 8px;

      img {
        width: 100%;
        border-radius: 8px;
      }
    }

    .product-content {
      position: absolute;
      right: 0px;
      bottom: 15px;
      left: 0px;
      margin: 25px auto 0px auto;
      padding: 10px 10px 10px 10px;
      z-index: 99;

      &.bg-pink {
        background-color: #de7b9bb5;
        // background-color: #036618;
      }

      &.bg-gold {
        background-color: #eee17069;
        // background-color: #b81a02;
      }

      &.bg-blue {
        // background-color: #009fdf;
        background-color: #34656abf;
      }

      &.bg-green {
        background-color: #093b16ab;
      }

      h4 {
        font-size: 22px;
        line-height: 20px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 1.2px;
        margin: 0 0 0px 0;
        padding: 10px 0px;
        color: #ffffff;
      }
    }
  }

  .viewmore-btn {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    border: 1px solid #ffb60c;
    background: #ffb60c;
    margin: 10px 0px;
    height: 32px;
    line-height: 32px;
    border-radius: 25px;

    .mat-button-wrapper {
      color: #ffffff;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.5px;
    }
  }
}

.transport-section {
  padding: 50px 0px;

  .transport-content {
    background-color: #EBE8E2;
    display: flex;
    padding-bottom: 35px;

    .header {
      padding: 30px 30px;
      background: #fff;

      h3 {
        font-size: 25px;
        font-weight: 600;
        color: #2D0304;
        margin-bottom: 0px;
      }
    }

    .content {
      padding: 25px 30px;

      p {
        color: #3D556B;
        font-size: 15px;
        font-weight: 400;
      }
    }

    img {
      width: 100%;
      height: 250px;
      border-radius: 8px;
      object-fit: cover;
    }

    .left-div {
      width: 60%;
    }

    .right-div {
      width: 40%;
    }
  }
}

//IMPORTANT-SECTION
.important-section {
  background-image: url('../assets/images/imp-doc-bg.png');
  background-attachment: fixed;
  margin-top: 150px;
  padding-bottom: 100px;
  background-position: center;
  background-size: cover;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.2;
    background-size: contain;
    background-repeat: no-repeat !important;
    background-position: center;
  }

  .imp-content {
    margin-top: -80px;

    .left-content {
      img {
        object-fit: cover;
        width: 100%;
      }
    }

    .right-content {
      padding: 50px 70px;
      background: #E2EAF0;
      min-height: 333px;
      position: relative;

      p {
        color: #3D556B;
        font-size: 15px;
        font-weight: 400;
      }

      ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;

        li {
          width: 25%;
          display: inline-block;
          padding-right: 10px;

          img {
            object-fit: cover;
          }
        }
      }

      .explore-btn {
        color: #000000;
        position: absolute;
        bottom: 5px;
        right: 0px;
        font-size: 16px;

        img {
          width: 28px;
        }
      }
    }
  }
}

.location-section {
  padding: 25px 0px;
  // padding-top:75px;
  position: relative;

  .header {
    color: #1b1b1b;
    font-weight: 800;
    font-family: $font-family-bold;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
  }

  .sub-header {
    color: #1b1b1b;
    font-weight: 400;
    font-size: 35px;
    text-align: left;
    margin-bottom: 20px;
  }

  .location-row {
    background-color: #00a887;
    max-height: 400px !important;
  }

  .left-map {
    iframe {
      width: 100%;
      height: auto;
      min-height: 400px;
    }
  }

  .description-content {
    padding: 20px;
    display: flex !important;
    height: 400px !important;
    justify-content: center;

    .media {
      margin: 10px 0px;

      .media-left {
        width: 55px;
        margin-right: 15px;

        img {
          width: 100%;
          border-radius: 4px;
        }
      }

      .media-body {
        p {
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 1.2px;
        }

        h3 {
          font-weight: 600;
          font-size: 23px;
          color: #293C4D;
        }
      }
    }
  }
}

.gallery-section {
  margin: 25px 0px;

  .header {
    color: #1b1b1b;
    font-weight: 800;
    font-family: $font-family-bold;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
  }

  .product-box {
    // background: #FAFAFA;
    border-radius: 8px;
    // padding: 6px;
    position: relative;
    margin: 0px 25px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    // margin: 0 15px 25px 0;
    img.clear-product {
      top: 10px;
      right: 10px;
      position: absolute;
    }

    .product-img {
      position: relative;
      width: 100%;
      border-radius: 8px;

      img {
        width: 100%;
        border-radius: 8px;
      }
    }

    .product-content {
      position: absolute;
      right: 0px;
      bottom: 15px;
      left: 0px;
      margin: 25px auto 0px auto;
      padding: 10px 10px 10px 10px;
      z-index: 99;

      &.bg-pink {
        background-color: #de7b9bb5;
        // background-color: #036618;
      }

      h4 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 1.2px;
        margin: 0 0 0px 0;
        padding: 10px 0px;
        color: #ffffff;
      }
    }
  }

  .gallery-item {
    max-height: 450px !important;
    cursor: pointer;

    img {
      width: 100%;
      object-fit: cover;
      max-height: 450px !important;
    }
  }

  // Flexbox wrapper
  .masonry-gallery {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100vh;

    // &:hover{
    //   img {
    //     opacity:0.28;
    //   }
    // }
    // Each flex item
    .item {
      position: relative;
      width: 20%; // 3 column
      padding: 10px;

      img {
        width: 100%;
        display: block;
        transition: all .8s;
      }

      // .title{
      //   position:absolute;
      //   top:48%;
      //   left:0;
      //   width:100%;
      //   padding:0 3%;
      //   font-size:30px;
      //   text-shadow:0 0 8px rgba(0,0,0,0.42);
      // }
      &:hover {
        img {
          opacity: 1;
        }
      }
    }
  }
}

.gallery-thumbs-section {
  margin: .5em 0px;

  .gallery-thumbs {
    cursor: pointer;
    position: relative;
    //   &:before {
    //     content: '';
    //     position: absolute;
    //     top: 0px;
    //     right:0px;
    //     bottom: 0px;
    //     opacity: 0;
    //     left:0px;
    //     background: #2b9b5982;
    //     z-index: 1;
    //     .icon{
    //       width: 20px;
    //       display: block;
    //       margin: 30% auto 0px auto;
    //     }
    //  }
    //   &:hover {
    //     &:before {
    //       opacity: 1;
    //     }
    // }
  }
}

.newsletter-section {
  // background-image: url('../assets/images/public-bg.png');
  // background-attachment: fixed;
  // background-position: center;
  // background-size: cover;
  padding: 100px 0px;
  background: #555555;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #00000042;
  }

  .header-title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    z-index: 1;

    h4 {
      font-size: 35px;
      font-weight: 800;
      letter-spacing: 1.2;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 1px;
    }
  }
}

.constituencies-section {
  background-image: url('../assets/images/governence_Constituencies.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 50px 0px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    left: 0px;
    background: #00000042;
  }

  .header-title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    z-index: 1;

    h4 {
      font-size: 35px;
      font-weight: 800;
      letter-spacing: 1.2;
    }

    p {
      font-size: 18px;
      line-height: 25px;
      font-weight: 500;
      letter-spacing: 1.2;
    }
  }
}

.transport-section {
  padding: 25px 0px;
  position: relative;
  margin-top: 35px;

  .header {
    color: #1b1b1b;
    font-weight: 600;
    font-family: $font-family-bold;
    font-size: 35px;
    text-align: left;
    margin-bottom: 20px;
  }

  .transport-box {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    .box-img {
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .box-content {
      padding: 10px;

      h4 {
        color: #1b1b1b;
        font-size: 24px;
        margin-bottom: 5px;
        font-weight: 600;
        letter-spacing: 1.2px;
      }

      p {
        color: #020600;
        letter-spacing: 1px;
        font-size: 14px;
      }
    }
  }
}

.blog-section {
  margin: 25px 0px;

  .blog-header {
    h3 {
      color: #FFB60C;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
    }
  }

  .blog-box {
    background: #F6F6F6;
    border-radius: 6px;
    overflow: hidden;

    .blog-img {
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .blog-content {
      padding: 10px 15px;

      .heading {
        color: #4F627D;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1.2px;
      }

      p {
        color: #3D556B;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}

.virtual-section {
  padding: 25px 0px;
  position: relative;

  .transport-box {
    overflow: hidden;

    .box-img {
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .box-content {
      padding: 10px;

      h4 {
        color: #1b1b1b;
        font-size: 26px;
        margin-bottom: 5px;
        font-weight: 600;
        letter-spacing: 1.2px;
      }

      p {
        color: #020600;
        letter-spacing: 1px;
        font-size: 14px;
      }
    }
  }
}

.links-section {
  padding: 25px 0px;
  padding-bottom: 60px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 45px;
    background-image: url('../assets/images/newsletter.png');
    background-size: contain;
    background-repeat: repeat !important;
    background-position: center;
  }

  ul {
    display: inline-block;

    li {
      background: #FFF9E9;
      display: inline-flex;
      align-items: center;
      width: 30%;
      padding: 12px 20px;
      border-left: 0px;
      border-radius: 35px;
      cursor: pointer;
      padding-left: 50px;
      position: relative;
      margin-bottom: 35px;
      margin-left: 30px;

      //  &:nth-child(2n) {
      //   margin-left: 35px;
      //   // border-left:1px solid #FFB60C !important;
      // }
      img {
        margin-right: 15px;
        width: 60px;
        height: 60px;
        object-fit: cover;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: -15px;
        border: 2px solid #06a855;
      }

      p {
        color: #1b1b1b;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 1.2px;
        margin-bottom: 0px;
      }
    }
  }
}

.tourist-section {
  padding: 25px 0px;

  .product-box {
    background: #FAFAFA;
    border-radius: 8px;
    overflow: hidden;
    // padding: 6px;
    position: relative;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    // margin: 0 15px 25px 0;
    img.clear-product {
      top: 10px;
      right: 10px;
      position: absolute;
    }

    .product-img {
      position: relative;
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .overlay-bg {
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      opacity: 1;
      left: 0px;
      background: #00000094;
      z-index: 1;

      .content {
        text-align: center;
        padding-top: 40%;
        margin: 25px;
        height: 85%;
        display: block;
      }

      h4 {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 1px;
        margin: 0 0 8px 0;
        color: #ffffff;
      }

      .download-btn {
        border: 1px solid #fff;
        background: transparent !important;
        margin: 10px 0px;
        height: 32px;
        line-height: 32px;
        border-radius: 8px;
        opacity: 0;

        .mat-button-wrapper {
          color: #ffffff;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0.5px;

          img {
            margin-right: 7px;
          }
        }
      }
    }

    &:hover {
      .overlay-bg {
        .content {
          border: 1px solid #fff;
          border-radius: 8px;

          .download-btn {
            opacity: 1;
          }
        }
      }
    }
  }

  .viewmore-btn {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    border: 1px solid #ffb60c;
    background: #ffb60c;
    margin: 10px 0px;
    height: 32px;
    line-height: 32px;
    border-radius: 25px;

    .mat-button-wrapper {
      color: #ffffff;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.5px;
    }
  }
}

// **********  FOOTER-SCSS  ************
.footer-sec {
  // background-color: $primary;
  position: relative;
  padding-top: 40px;

  // background: url('/assets/images/footer-bg.png');
  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background: #000;
  //   opacity: 0.5;
  //   background-size: contain;
  //   background-repeat: no-repeat !important;
  //   background-position: center;
  // }
  // &:after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   height: 45px;
  //   background-image: url('../assets/images/newsletter-bottom.png');
  //   background-size: contain;
  //   background-repeat: repeat !important;
  //   background-position: center;
  // }
  // &:before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   left: 0;
  //   height: 45px;
  //   background-image: url('../assets/images/newsletter.png');
  //   background-size: contain;
  //   background-repeat: repeat !important;
  //   background-position: center;
  //   z-index: 999;
  // }
  .footer {
    padding: 0px 0 0px 0;
    position: relative;

    // background-color: $primary;
    // margin-top: 2em;
    .ft-logo {
      max-width: 135px;
      margin-bottom: 15px;
    }

    .ft-text {
      color: #1b1b1b;
      text-align: center;

      p {
        font-size: 15px;
        margin-bottom: 10px;
        font-weight: 600 !important;
        letter-spacing: 1.2px;
      }

      .address-line {
        font-size: 16px !important;
        margin: 10px 0 0 0;
        font-weight: 600 !important;

        span {
          font-weight: 600;
        }
      }
    }

    .s-links {
      list-style: none;
      display: inline-block;
      padding: 0px;
      text-align: center;
      margin-bottom: 5px;

      p {
        color: #000000;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 14px;
        margin: 10px 0px;
      }

      li {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50px;
        border: 1px solid #16ad8c;
        background: #16ad8c;
        margin-right: 15px;
        text-align: center;
        cursor: pointer;

        i {
          font-size: 20px;
          color: #ffffff;
          line-height: 35px;
        }

        &:hover {
          background-color: #ffffff;
          border: 1px solid #16ad8c;

          i {
            color: #16ad8c;
          }
        }

        img {
          width: 100%;
        }
      }
    }

    .more-links {
      margin: 0px;
      padding: 0px;
      color: $white;
      list-style: none;

      h4 {
        font-size: 22px;
        font-weight: 600;
      }

      li {
        margin-bottom: 15px;
        font-weight: 300;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  .q-links {
    list-style: none;
    display: inline-block;
    padding: 0px;
    margin-bottom: 0px;

    p {
      color: #1b1b1b;
      font-size: 16px;
      text-align: center;
      font-weight: 600;
      text-decoration: underline;
      margin: 10px 0px;
    }

    li {
      display: inline-block;
      color: #1b1b1b;
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 600;
      text-align: center;
      margin: 0px 15px;
    }
  }

  .footer-heading {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
  }

  .footer-copyright {
    text-align: center;
    padding: 10px 0;
    margin-top: 5px;
    background: #D9C5AD;
    margin: 20px 0 0 0;

    .copy-right {
      font-size: 16px;
      color: #1b1b1b;
      font-weight: 600;
      letter-spacing: 1.2px;
      padding: 0px 25px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0;
    }
  }
}

//NAVBAR SEARCH
.navbar_search {
  display: flex;
  width: 100%;
  justify-content: flex-start;

  ::placeholder {
    color: #000 !important;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px !important;
  }

  .category-btn {
    margin-right: 15px;
    height: 33px !important;

    .mat-button-wrapper {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.5px;
      display: inline-flex;
      align-items: center;
      line-height: 16px !important;
      padding: 8px 6px !important;
      font-family: $font-family-medium;
      text-transform: uppercase;

      img {
        width: 17px;
        margin-left: 20px;
      }
    }
  }

  .mat-form-field-outline {
    color: #fff !important;
    background: $white !important;
    border-radius: 0;
  }

  .custom-form-group {
    margin-bottom: 0px !important;
    width: 65%;
  }

  .custom-form-control {
    position: relative;
    width: 100%;

    &.footer-input {
      .mat-form-field {
        background: $white !important;
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
      }
    }

    &.with-curve {
      .mat-form-field {
        width: 100%;

        .mat-form-field-infix {
          width: 275px;
          padding: 0.6em 0px !important;
        }

        .mat-form-field-wrapper {
          .mat-form-field-flex {
            .mat-form-field-outline {
              .mat-form-field-outline-end {
                border-top-left-radius: 4px !important;
                border-top-right-radius: 0px !important;
                border-bottom-left-radius: 4px !important;
                border-bottom-right-radius: 0px !important;
                border-left-style: solid;
              }
            }
          }
        }
      }
    }

    .mat-form-field {
      width: 100%;

      .mat-form-field-wrapper {
        padding-bottom: 0px !important;
        margin: 0px !important;

        .mat-form-field-flex {
          .mat-form-field-outline {
            .mat-form-field-outline-start {
              min-width: 0;
              border-left-style: none;
            }

            .mat-form-field-outline-end {
              // border-radius: 30px !important;
              border-left-style: solid;
              border-radius: 4px;
            }
          }

          .mat-input-element {
            font-size: 16px !important;
            font-weight: 500 !important;
            letter-spacing: 1px;
            padding-left: 0px;
            line-height: 20px;
            color: #000000;
          }
        }
      }
    }
  }

  .icon-btn {
    margin-left: -3px;
    background: #00A887;
    color: #fff;
    min-width: 45%;
    max-width: 45%;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    height: 39px;
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #00A887;

    &.footer-btn {
      min-width: 90px !important;
      color: $white !important;
    }

    img {
      width: 18px;
    }

    // margin-left: -3px;
    // background: $primary;
    // min-width: 50px !important;
    // border: 1px solid $primary;
    // padding-left: 15px;
    // padding-right: 15px;
    // border-top-right-radius: 4px;
    // border-top-left-radius: 4px;
    // border-bottom-left-radius: 4px;
    // border-bottom-right-radius: 4px;
  }
}

.events-section {
  padding: 25px 0px;
  position: relative;

  .product-box {
    border-radius: 8px;
    position: relative;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    .product-img {
      position: relative;
      width: 100%;
      border-radius: 8px;

      img {
        width: 100%;
        border-radius: 8px;
      }
    }

    .product-content {
      padding: 10px 10px 10px 10px;
      z-index: 99;

      h4 {
        font-size: 34px;
        line-height: 35px;
        font-weight: 400;
        letter-spacing: 1.2px;
        margin: 0 0 0px 0;
        padding: 10px 0px;
        color: #1b1b1b;
      }
    }
  }

  .product-slider {
    padding: 5px 0px 0px 0px;
    //background: $white;
    // box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    // position: relative;
    // z-index: 99;
    // margin-top:-80px;
  }
}

.swiper-wrapper {
  padding-left: 0px;
}

//MULTI-SIDER-CONTROLS
.inner-custom-controls {

  // position: absolute;
  // left: 0px;
  // bottom: 35px;
  // width: 105px;
  .swiper-button-next,
  .swiper-button-prev {
    top: 60%;
  }

  .swiper-button-next {
    cursor: pointer;
    // border: 1px solid $primary;
    // background: $primary !important;
    height: 35px;
    width: 35px;
    background: #00a887;
    border-radius: 50%;

    img {
      height: 25px;
    }

    &:after {
      display: none;
    }
  }

  .swiper-button-prev {
    // background: $primary !important;
    // border: 1px solid $primary;
    cursor: pointer;
    height: 35px;
    width: 35px;
    background: #00a887;
    border-radius: 50%;

    img {
      height: 25px;
    }

    &:after {
      display: none;
    }
  }

  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    content: 'next';
    display: none;
  }

  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
    display: none;
  }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: -50px;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -50px;
}

.swiper-container {

}

.dummy-section {
  // background-image: url('../assets/images/public-bg.png');
  // background-attachment: fixed;
  padding: 50px 0px;
  // background-position: center;
  // background-size: cover;
  position: relative;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background: #000;
  //   opacity: 0.4;
  //   background-size: contain;
  //   background-repeat: no-repeat !important;
  //   background-position: center;
  // }
  .product-box {
    background: #FAFAFA;
    border-radius: 8px;
    // padding: 6px;
    position: relative;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    .media {
      align-items: center;

      .media-left {
        width: 40%;

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .media-body {
        h5 {
          color: #350304;
          font-weight: 600;
          font-size: 22px;
        }

        p {
          color: #3D556B;
          font-size: 16px;
          font-weight: 500;
        }

        .download-btn {
          border: 1px solid #76CB15;
          background: #ffffff;
          margin: 10px 0px;
          height: 32px;
          line-height: 32px;
          border-radius: 25px;

          .mat-button-wrapper {
            color: #76CB15;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.5px;

            img {
              margin-right: 7px;
            }
          }
        }
      }
    }
  }

  .product-slider {
    padding: 5px 0px 0px 0px;
    //background: $white;
    // box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    // position: relative;
    // z-index: 99;
    // margin-top:-80px;
  }

  .swiper-wrapper {
    padding-left: 0px;
    margin-top: 5px;
  }

  //MULTI-SIDER-CONTROLS
  .inner-custom-controls {

    // position: absolute;
    // left: 0px;
    // bottom: 35px;
    // width: 105px;
    .swiper-button-next {
      cursor: pointer;
      border: 1px solid $primary;
      background: $primary !important;
      height: 35px;
      width: 35px;

      img {
        height: 16px;
      }

      &:after {
        display: none;
      }
    }

    .swiper-button-prev {
      background: $primary !important;
      border: 1px solid $primary;
      cursor: pointer;
      height: 35px;
      width: 35px;

      img {
        height: 16px;
      }

      &:after {
        display: none;
      }
    }

    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
      content: 'next';
      display: none;
    }

    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
      content: 'prev';
      display: none;
    }
  }

  .swiper-container {}
}

.member-card {
  text-align: center;
  padding: 25px;
  border-radius: 15px;
  margin: 10px 15px;

  img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 25px;
  }

  .member-name {
    font-size: 28px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: $font-family-bold;
    line-height: 30px;
    margin-bottom: 5px;
  }

  p {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }
}

// SCOAL-ICONS-FIXED
.float_sm {
  .fl-fl {
    text-transform: uppercase;
    letter-spacing: 3px;
    position: fixed;
    right: -130px;
    z-index: 1000;
    transition: all 0.25s ease;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 0 0px 0;
    width: 170px;
    height: 40px;
    line-height: 40px;

    img {
      width: 24px;
    }

    &.float-fb {
      top: 200px;
    }

    &.float-in {
      top: 255px;
    }

    &.float-tw {
      top: 310px;
    }

    &.float-yt {
      top: 365px;
    }

    &.float-ln {
      top: 420px;
    }

    &:hover {
      right: 0;
    }

    .social-icon {
      font-size: 19px;
      color: #fff;
      padding: 0px 0 0 5px;
      font-weight: 500;
      width: 40px;
      margin-left: 0;
      border-right: 1px solid #fff;
      margin-right: 0px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-top-left-radius: 24px;
      border-bottom-left-radius: 24px;
      background-color: #ebebe9 !important;

      i {
        // font-size: 18px;
        // opacity: 1;
        // filter: brightness(0) invert(1);
        // text-align: center;
        color: #4f5051;
      }
    }

    span {
      color: #fff;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      font-size: 14px;
      z-index: 99999;
      font-weight: 500;
      position: relative;
      bottom: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0 5px 0 5px;
      // background: #fcba04;
      min-width: 130px;
    }
  }
}

.fb-bg {
  span {
    background: #3b5998 !important;
  }
}

.in-bg {
  span {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
  }

  // background: #d6249f;
}

.tw-bg {
  span {
    background: #00acee !important;
  }
}

.yt-bg {
  span {
    background: #FF0000 !important;
  }
}

.ln-bg {
  span {
    background: #0e76a8 !important;
  }
}

.left_float_sm {
  .fl-fl {
    text-transform: uppercase;
    letter-spacing: 3px;
    position: fixed;
    left: -130px;
    z-index: 1000;
    transition: all 0.25s ease;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 0 0px 0;
    width: 170px;
    height: 40px;
    line-height: 40px;

    &:hover {
      left: 0;
    }

    img {
      width: 24px;
    }

    &.float-iso {
      top: 200px;
    }

    &.float-igbc {
      top: 255px;
    }

    .social-icon {
      font-size: 19px;
      color: #fff;
      padding: 0px 5px 0 0px;
      font-weight: 500;
      width: 40px;
      margin-left: 0;
      border-right: 1px solid #fff;
      margin-right: 0px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
      background-color: #ebebe9;

      i {
        // font-size: 18px;
        // opacity: 1;
        // filter: brightness(0) invert(1);
        // text-align: center;
        color: #4f5051;
      }
    }

    span {
      color: #212121;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      font-size: 14px;
      z-index: 99999;
      font-weight: 500;
      position: relative;
      bottom: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0 5px 0 5px;
      // background: #fcba04;
      min-width: 130px;
      background: #fff;
    }
  }
}
