
.table-section{
  border: 1px solid #5E1D14 !important;
  border-radius: 12px !important;
  overflow: hidden;
  width: 65%;
  margin: 20px auto;
}

.table{
  background: #DCC2A5;
  text-align: center;
  border:0px !important;
  margin: 0px !important;


td {
  color: #5E1D14;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.2px;
  border-bottom: 0px !important;
  border-top: 0px !important;
}

  thead{
    th{
      color:#3D556B;
      font-weight: 700;
      font-size: 18px;
      border-top: 0px;
      letter-spacing: 1.2px;
      border-bottom: 1px solid #5E1D14 !important;
    }
  }
}
td{
  border-top: 0px !important;
}
