<div class="video-banner-sec">
  <div class="video">
    <video *ngIf="loadAfter" oncanplay="this.play()" onloadedmetadata="this.muted = true" class="wrapper__video">
      <source
        src="https://firebasestorage.googleapis.com/v0/b/narmetta-ceee8.appspot.com/o/DJI_0978%20(online-video-cutter.com).mp4?alt=media&token=5f79eae5-f208-4971-91e0-19ff076aa7f1">
    </video>
    <!-- <video autoplay="true" muted="muted" class="wrapper__video"  src="../../../../../assets/images/file_example_MP4_1280_10MG.mp4" webkit-playsinline="true"
    playsinline="true" (canplay)="startVideo()" #videoTag> -->
    <!-- https://firebasestorage.googleapis.com/v0/b/narmetta-ceee8.appspot.com/o/DJI_0978%20(online-video-cutter.com).mp4?alt=media&token=5f79eae5-f208-4971-91e0-19ff076aa7f1
         -->
    <!-- </video> -->
  </div>
  <img class="video-play" src="../../../../../assets/images/play-button.svg" alt="" srcset="">
  <div class="banner-content">
    <h2 class="wow animated fadeInLeft">{{'NEW_AGE'| translate}} <span class="marked">
        {{'DEVELOPMENT'| translate}}</span> {{'NARMETTA'| translate}}</h2>
  </div>
</div>
<section class="bg-pattern">
  <div class="overlay"></div>
  <section class="featured-section section-padding welcome-overlay">
    <img class="left-welcome" src="../../../../../assets/images/welcome-right.gif" alt="">
    <img class="right-welcome" src="../../../../../assets/images/welcome-right.gif" alt="">
    <div class="wrapper ">
      <h4 class="imp-header"> {{'Mana Narmetta'| translate}} </h4>
      <div class='wow animated fadeInLeft mana_narmetta_row' data-wow-duration="2s" fxLayout="row" fxLayout.lg="row"
        fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
        <div class="mana_narmetta_column_first" fxLayout="column" fxFlex="30" fxFlexFill>
          <div class="product-box">
            <div class="product-img ">
              <img src="../../../../../assets/images/about/about1.jpg" alt="">
            </div>
            <div class="product-content bg-pink">
              <h4> {{'Village Profile' | translate}} </h4>
              <p>Narmetta is a reformist village, located in the district of Siddipet.</p>
              <span [routerLink]="['./about-village']" routerLinkActive="router-link-active"
                class="wow animated fadeInRight  readmore-btn"> <img
                  src="../../../../../assets/images/double-arrow-white.svg" alt="" srcset="">
                {{'Read more' | translate}} </span>
              <!-- <button  class="readmore-btn" mat-button data-wow-duration="1s" data-wow-delay="2s">
            </button> -->
            </div>
          </div>
        </div>
        <!-- <div fxLayout="column" fxFlex="25" fxFlexFill>
          <div class="product-box">
            <div class="product-img">
              <img src="../../../../../assets/images/about/about2.jpg" alt="">
            </div>
            <div class="product-content bg-gold">
              <h4> {{'History / Journey' | translate}} </h4>
              <p>Narmetta has rich and glorious history with lot of remains of great monuments.</p>
              <span [routerLink]="['/home/about-village']" routerLinkActive="router-link-active"
                class="wow animated fadeInRight  readmore-btn"> <img
                  src="../../../../../assets/images/double-arrow-white.svg" alt="" srcset="">
                {{'Read more' | translate}} </span>
            </div>
          </div>
        </div> -->
        <div class="mana_narmetta_column_second" fxLayout="column" fxFlex="30" fxFlexFill>
          <div class="product-box-door">
            <div class="door1">
              <img src="../../../../../assets/images/door_left.png">
            </div>
            <div class="product-img">
              <img src="../../../../../assets/images/about/about3.jpg" alt="">
              <!-- <div class="second_overlay">
                <img src="../../../../../assets/images/door.png" alt="">
              </div> -->
            </div>
            <div class="product-content bg-blue">
              <h4> {{'Philosophy of the Village' | translate}} </h4>
              <p>Narmetta is the most enlightened village for all its residents.</p>
              <span [routerLink]="['/home/about-village']" routerLinkActive="router-link-active"
                class="wow animated fadeInRight  readmore-btn"> <img
                  src="../../../../../assets/images/double-arrow-white.svg" alt="" srcset="">
                {{'Read more' | translate}} </span>
            </div>
            <div class="door2">
              <img src="../../../../../assets/images/door_right.png">
            </div>
          </div>
        </div>
        <div class="mana_narmetta_column_third" fxLayout="column" fxFlex="30" fxFlexFill>
          <div class="product-box">

            <div class="product-img">
              <img src="../../../../../assets/images/about/about4.jpg" alt="">
            </div>
            <div class="product-content bg-green">
              <h4> {{'Vision & Mission' | translate}} </h4>
              <p>Narmetta village aims to maximize opportunities for social and economic development.</p>
              <span [routerLink]="['/home/about-village']" routerLinkActive="router-link-active"
                class="wow animated fadeInRight  readmore-btn"> <img
                  src="../../../../../assets/images/double-arrow-white.svg" alt="" srcset="">
                {{'Read more' | translate}} </span>
            </div>
          </div>
        </div>
      </div>
      <!-- <span class="wow animated fadeInDown viewmore-btn" data-wow-duration="1s" data-wow-delay="3s">
        {{'View More' | translate}}
      </span> -->
    </div>
  </section>
  <div class='frame-video wow animated bounceIn' data-wow-duration="3s" fxLayout="row" fxLayout.lg="row"
    fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="25px">
    <div fxLayout="column" fxFlex="55" fxFlexFill>
      <ng-container *ngIf="languageVideo && selectedLanguage === 'en'">
        <video oncanplay="this.play()" controls class="wrapper__video">
          <source src="../../../../../assets/images/english_vedio.mp4">
        </video>
      </ng-container>
      <ng-container *ngIf="languageVideo  && selectedLanguage === 'tr'">
        <video oncanplay="this.play()" controls class="wrapper__video">
          <source src="../../../../../assets/images/telugu_vedio.mp4">
        </video>
      </ng-container>
      <!-- onloadedmetadata="this.muted = true" -->
    </div>
  </div>
  <section class="governance-section">
    <div class="wrapper">
      <h4 class="imp-header"> {{'Governance' | translate}} </h4>
      <div class="wow animated fadeInLeft" data-wow-duration="2s" fxLayout="row" fxLayout.lg="row" fxLayout.md="row"
        fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="33" fxFlexFill>
          <div class="product-box">
            <div class="product-img">
              <img src="../../../../../assets/images/g1.png" alt="">
            </div>
            <div class="product-content bg-green">
              <h4 [routerLink]="['./governance']" routerLinkActive="router-link-active"> {{'Grampanchayat' | translate}}
              </h4>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="33" fxFlexFill>
          <div class="product-box">

            <div class="product-img">
              <img src="../../../../../assets/images/g2.jpg" alt="">
            </div>
            <div class="product-content bg-gold">
              <h4 [routerLink]="['./governance']" routerLinkActive="router-link-active">
                {{'Members of Panchayat' | translate}}</h4>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="33" fxFlexFill>
          <div class="product-box">
            <div class="product-img">
              <img src="../../../../../assets/images/g3.png" alt="">
            </div>
            <div class="product-content bg-blue">
              <h4 [routerLink]="['./governance']" routerLinkActive="router-link-active">
                {{'Constituencies' | translate}} </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="govt-section section-padding">
    <div class="wrapper">
      <h4 class="imp-header">{{'Government Offices'| translate }}</h4>
      <div class="swiper-container" [swiper]="govtOffice">
        <div class="swiper-wrapper">
          <div class="swiper-slide product-box">
            <div class="product-img">
              <img src="../../../../../assets/images/about/about1.jpg" alt="">
            </div>
            <div class="product-content bg-green">
              <h4>{{'Grampanchayat' | translate}} </h4>
              <p>
                {{'The Narmatta Gram Panchayat building was constructed in the year 1982 on an area of ​​200 square yards' | translate}}
              </p>
              <span [routerLink]="['./govt-office']" class="wow animated fadeInRight  readmore-btn"> <img
                  src="../../../../../assets/images/double-arrow-white.svg" alt="" srcset="">
                {{'Read more' | translate}} </span>
              <!-- <button  class="readmore-btn" mat-button data-wow-duration="1s" data-wow-delay="2s">
            </button> -->
            </div>
          </div>
          <div class="swiper-slide product-box">
            <div class="product-img">
              <img src="../../../../../assets/images/about/about2.jpg" alt="">
            </div>
            <div class="product-content bg-gold">
              <h4> {{'Primary Healthcare Center' | translate}} </h4>
              <p>
                {{'Narmetta village has a well-equipped Primary Healthcare Center (PHC), appointed with professional.'  | translate}}
              </p>
              <span [routerLink]="['./govt-office']" class="wow animated fadeInRight  readmore-btn"> <img
                  src="../../../../../assets/images/double-arrow-white.svg" alt="" srcset="">
                {{'Read more' | translate}} </span>
            </div>
          </div>
          <div class="swiper-slide product-box">
            <div class="product-img">
              <img src="../../../../../assets/images/about/about3.jpg" alt="">
            </div>
            <div class="product-content bg-blue">
              <h4> {{'Anganwadi Centers' | translate}} </h4>
              <p>{{'There are two Anganwadi Centers in Narmetta village.' | translate}}</p>
              <span [routerLink]="['./govt-office']" class="wow animated fadeInRight  readmore-btn"> <img
                  src="../../../../../assets/images/double-arrow-white.svg" alt="" srcset="">
                {{'Read more' | translate}} </span>
            </div>
          </div>
        </div>
      </div>
      <span class="inner-custom-controls navigations">
        <span class="controls">
          <div class="swiper-button-prev">
            <img src="../../../../../assets/images/icons/left-arrow.svg" alt="" srcset="">
          </div>
          <div class="swiper-button-next">
            <img src="../../../../../assets/images/icons/right-arrow.svg" alt="" srcset="">
          </div>
        </span>
      </span>
      <div fxLayoutAlign="center center">
        <span [routerLink]="['./govt-office']" routerLinkActive="router-link-active"
          class="wow animated fadeInDown viewmore-btn" data-wow-duration="1s" data-wow-delay="3s">
          {{'View More' | translate}}
        </span>
      </div>
    </div>
  </section>
  <section class="public-section">
    <div class="wrapper">
      <h4 class="imp-header"> {{'Public Places'| translate }} </h4>
      <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
        fxLayoutAlign="start stretch" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="25" fxFlexFill>
          <div class="product-box">
            <div class="wow animated fadeInDown product-content" data-wow-duration="1s">
              <h4> {{'Temples'| translate }} </h4>
            </div>
            <div class="product-img">
              <img src="../../../../../assets/images/temples.png" alt="">
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="25" fxFlexFill>
          <div class="product-box">
            <div class="wow animated fadeInDown product-content" data-wow-duration="1s">
              <h4> {{'Mosques'| translate }} </h4>
            </div>
            <div class="product-img">
              <img src="../../../../../assets/images/mosques.png" alt="">
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="25" fxFlexFill>
          <div class="product-box">
            <div class="wow animated fadeInDown product-content" data-wow-duration="1s">
              <h4>{{'Church'| translate }} </h4>
            </div>
            <div class="product-img">
              <img src="../../../../../assets/images/church.png" alt="">
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="25" fxFlexFill>
          <div class="product-box">
            <div class="wow animated fadeInDown product-content" data-wow-duration="1s">
              <h4> {{'Parks'| translate }} </h4>
            </div>
            <div class="product-img after-none">
              <img src="../../../../../assets/images/parks.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="location-section">
    <div class="wrapper">
      <h3 class="imp-header">{{'Transportation facility' | translate }} </h3>
      <!-- <h3 class="header">{{'Narmetta Village Map' | translate}} </h3>
      <h3 class="sub-header">{{'How to Reach Narmetta' | translate}} </h3> -->
      <div class="location-row" fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row"
        fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="35px">
        <div fxLayout="column" fxFlex="50" fxFlexFill>
          <div class="wow fadeInLeft left-map" data-wow-duration="1s">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15187.77099900323!2d79.15284632879067!3d17.88813035448421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcca5aa06a07e69%3A0xfb501c27f40d5e29!2sNarmetta%2C%20Telangana%20506224!5e0!3m2!1sen!2sin!4v1600670888832!5m2!1sen!2sin"
              frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
        <div class="description-content" fxLayout="column" fxFlex="50" fxFlexFill>
          <div class="wow fadeInRight media" data-wow-duration="2s">
            <div class="media-left">
              <img src="../../../../../assets/images/location/bus.svg" alt="" srcset="">
            </div>
            <div class="media-body">
              <p> {{'road-transport' | translate }}</p>
            </div>
          </div>
          <div class="wow fadeInRight media" data-wow-duration="3s">
            <div class="media-left">
              <img src="../../../../../assets/images/location/train.svg" alt="" srcset="">
            </div>
            <div class="media-body">
              <p> {{'The nearest Railway Station is at Jangoan (60 km).' | translate}} </p>
            </div>
          </div>
          <div class="wow fadeInRight media" data-wow-duration="4s">
            <div class="media-left">
              <img src="../../../../../assets/images/location/near.svg" alt="" srcset="">
            </div>
            <div class="media-body">
              <p> {{'Rajiv Gandhi International Airport, Hyderabad at a distance of 151 km' | translate}} </p>
            </div>
          </div>
          <div class="wow fadeInRight media" data-wow-duration="5s">
            <div class="media-left">
              <img src="../../../../../assets/images/location/link.svg" alt="" srcset="">
            </div>
            <div class="media-body">
              <p>
                {{'Jangoan (60 km), Sircilla Rajanna (70 km), and Karimnagar (70 km) are nearby cities to Narmetta village.' | translate}}
              </p>
              <!-- <h3> {{'Elevation from Sea Level' | translate}} </h3> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="transport-section">
    <div class="wrapper">
      <h4 class="header"> {{'Transport Facility' | translate}} </h4>
      <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
        fxLayoutAlign="start stretch" fxLayoutGap="15px">
        <div fxLayout="column" fxFlex="33" fxFlexFill>
          <div class="transport-box">
            <div class="box-img">
              <img src="../../../../../assets/images/transport1.jpg" alt="" srcset="">
            </div>
            <div class="box-content">
              <h4> {{'Auto' | translate}} </h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="33" fxFlexFill>
          <div class="transport-box">
            <div class="box-img">
              <img src="../../../../../assets/images/transport2.jpg" alt="" srcset="">
            </div>
            <div class="box-content">
              <h4> {{'TSRTC Buses' | translate}} </h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="33" fxFlexFill>
          <div class="transport-box">
            <div class="box-img">
              <img src="../../../../../assets/images/transport3.jpg" alt="" srcset="">
            </div>
            <div class="box-content">
              <h4> {{'Trains' | translate}} </h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- events -->
  <!-- <section class="events-section">
    <div class="product-slider">
      <div class="wrapper">
        <h4 class="imp-header"> {{'Events' | translate}} </h4>
        <div class="swiper-container" [swiper]="eventsWapper">
          <div class="swiper-wrapper">
            <div class="swiper-slide product-box">
              <div class="product-content bg-green">
                <h4>Religious Celebrations</h4>
              </div>
              <div class="product-img">
                <img src="../../../../../assets/images/event1.png" alt="">
              </div>
            </div>
            <div class="swiper-slide product-box">
              <div class="product-content bg-green">
                <h4>Religious Celebrations</h4>
              </div>
              <div class="product-img">
                <img src="../../../../../assets/images/event2.png" alt="">
              </div>
            </div>
            <div class="swiper-slide product-box">
              <div class="product-content bg-green">
                <h4>Religious Celebrations</h4>
              </div>
              <div class="product-img">
                <img src="../../../../../assets/images/event3.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <span class="inner-custom-controls navigations">
          <span class="controls">
            <div class="swiper-button-prev">
              <img src="../../../../../assets/images/icons/left-arrow.svg" alt="" srcset="">
            </div>
            <div class="swiper-button-next">
              <img src="../../../../../assets/images/icons/right-arrow.svg" alt="" srcset="">
            </div>
          </span>
        </span>
      </div>
    </div>
  </section> -->
  <section class="govt-section section-padding">
    <div class="wrapper">
      <h4 class="imp-header">{{'Initiatives'| translate }}</h4>
      <div class="swiper-container" [swiper]="govtOffice">
        <div class="swiper-wrapper">
          <div class="swiper-slide product-box">
            <div class="product-img">
              <img src="../../../../../assets/images/about/about1.jpg" alt="">
            </div>
            <div class="product-content bg-green">
              <h4>{{'Grampanchayat' | translate}} </h4>
              <p>
                {{'The Narmatta Gram Panchayat building was constructed in the year 1982 on an area of ​​200 square yards' | translate}}
              </p>
              <span [routerLink]="['./governance']" routerLinkActive="router-link-active"
                class="wow animated fadeInRight  readmore-btn"> <img
                  src="../../../../../assets/images/double-arrow-white.svg" alt="" srcset="">
                {{'Read more' | translate}} </span>
              <!-- <button  class="readmore-btn" mat-button data-wow-duration="1s" data-wow-delay="2s">
            </button> -->
            </div>
          </div>
          <div class="swiper-slide product-box">
            <div class="product-img">
              <img src="../../../../../assets/images/about/about2.jpg" alt="">
            </div>
            <div class="product-content bg-gold">
              <h4> {{'Primary Healthcare Center' | translate}} </h4>
              <p>
                {{'Narmetta village has a well-equipped Primary Healthcare Center (PHC), appointed with professional.'  | translate}}
              </p>
              <span [routerLink]="['./governance']" routerLinkActive="router-link-active"
                class="wow animated fadeInRight  readmore-btn"> <img
                  src="../../../../../assets/images/double-arrow-white.svg" alt="" srcset="">
                {{'Read more' | translate}} </span>
            </div>
          </div>
          <div class="swiper-slide product-box">
            <div class="product-img">
              <img src="../../../../../assets/images/about/about3.jpg" alt="">
            </div>
            <div class="product-content bg-blue">
              <h4> {{'Anganwadi Centers' | translate}} </h4>
              <p>{{'There are two Anganwadi Centers in Narmetta village.' | translate}}</p>
              <span [routerLink]="['./governance']" routerLinkActive="router-link-active"
                class="wow animated fadeInRight  readmore-btn"> <img
                  src="../../../../../assets/images/double-arrow-white.svg" alt="" srcset="">
                {{'Read more' | translate}} </span>
            </div>
          </div>
        </div>
      </div>
      <span class="inner-custom-controls navigations">
        <span class="controls">
          <div class="swiper-button-prev">
            <img src="../../../../../assets/images/icons/left-arrow.svg" alt="" srcset="">
          </div>
          <div class="swiper-button-next">
            <img src="../../../../../assets/images/icons/right-arrow.svg" alt="" srcset="">
          </div>
        </span>
      </span>
      <div fxLayoutAlign="center center">
        <span class="wow animated fadeInDown viewmore-btn" data-wow-duration="1s" data-wow-delay="3s">
          {{'View More' | translate}}
        </span>
      </div>
    </div>
  </section>
  <!--<section class="gallery-section">
    <div class="wrapper">
      <h4 class="imp-header"> {{ 'Village Gallery' | translate }} </h4>
      <div class="swiper-container" [swiper]="gallerySlider">
        <div class="swiper-wrapper">
          <div class="swiper-slide gallery-item">
            <img src="../../../../../assets/images/gallery/1.jpg" alt="" srcset="">
          </div>
          <div class="swiper-slide gallery-item">
            <img src="../../../../../assets/images/gallery/2.jpg" alt="" srcset="">
          </div>
          <div class="swiper-slide gallery-item">
            <img src="../../../../../assets/images/gallery/3.jpg" alt="" srcset="">
          </div>
        </div>
      </div>
      <span class="inner-custom-controls navigations">
        <span class="controls">
          <div class="swiper-button-prev">
            <img src="../../../../../assets/images/icons/left-arrow.svg" alt="" srcset="">
          </div>
          <div class="swiper-button-next">
            <img src="../../../../../assets/images/icons/right-arrow.svg" alt="" srcset="">
          </div>
        </span>
      </span>
      <div class="swiper-container gallery-thumbs-section" [swiper]="galleryThumbs">
        <div class="swiper-wrapper">
          <div class="swiper-slide gallery-thumbs">
            <img src="../../../../../assets/images/gallery/1.jpg" alt="" srcset="">
          </div>
          <div class="swiper-slide gallery-thumbs">
            <img src="../../../../../assets/images/gallery/2.jpg" alt="" srcset="">
          </div>
          <div class="swiper-slide gallery-thumbs">
            <img src="../../../../../assets/images/gallery/3.jpg" alt="" srcset="">
          </div>
          <div class="swiper-slide gallery-thumbs">
            <img src="../../../../../assets/images/gallery/4.jpg" alt="" srcset="">
          </div>
          <div class="swiper-slide gallery-thumbs">
            <img src="../../../../../assets/images/gallery/5.jpg" alt="" srcset="">
          </div>
          <div class="swiper-slide gallery-thumbs">
            <img src="../../../../../assets/images/gallery/6.jpg" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="gallery-section">
    <div class="wrapper">
      <h4 class="imp-header"> {{ 'Village Gallery' | translate }} </h4>
      <div class="row-wrap" fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
        fxLayoutAlign="start stretch">
        <!-- <div class="gallery-item" *ngFor="let image of _albums; let i=index" fxLayout="column" fxFlex="25" fxFlexFill>
          <div class="thumb placeholder">
            <img class="thumb-img" [src]="image.thumb" />
            <div (click)="open(i)" class="overlay">
              <img class="icon" src="../../../../../assets/images/icons/icons8_expand_filled.svg" alt="" srcset="">
            </div>
          </div>
        </div> -->

        <div fxLayout="column" fxFlex="25" fxFlexFill *ngFor="let image of _albums; let i=index">
          <div class="product-box" >
          <div class="product-img">
            <img class="thumb-img" [src]="image.thumb" />
          </div>
          <div (click)="open(i)" class="overlay" class="product-content bg-pink">
            <h4> {{ image.caption | translate}} </h4>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tourist-section">
    <div class="wrapper">
      <h4 class="imp-header"> {{'Tourist Attractions' | translate}} </h4>
      <div class="swiper-container" [swiper]="touristSlider">
        <div class="swiper-wrapper">
          <div class="swiper-slide product-box">
            <div class="product-img">
              <img src="../../../../../assets/images/t1.svg" alt="">
            </div>
            <div class="overlay-bg">
              <div class="content wow fadeInUp" data-wow-delay="2s">
                <h4>Orugallu</h4>
                <a href="https://en.wikipedia.org/wiki/Warangal_Fort">
                  <button class="download-btn" mat-button>Explore </button>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide product-box">
            <div class="product-img">
              <img src="../../../../../assets/images/t2.svg" alt="">
            </div>
            <div class="overlay-bg">
              <div class="content wow fadeInUp" data-wow-delay="2s">
                <h4>Laknavaram Lake</h4>
                <a href="https://en.wikipedia.org/wiki/Laknavaram_Lake">
                  <button class="download-btn" mat-button>Explore</button>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide product-box">
            <div class="product-img">
              <img src="../../../../../assets/images/t3.svg" alt="">
            </div>
            <div class="overlay-bg">
              <div class="content wow fadeInUp" data-wow-delay="2s">
                <h4>Sri Veeranarayana Temple</h4>
                <a href="https://en.wikipedia.org/wiki/Warangal_Fort">
                  <button class="download-btn" mat-button>Explore</button>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide product-box">
            <div class="product-img">
              <img src="../../../../../assets/images/t4.svg" alt="">
            </div>
            <div class="overlay-bg">
              <div class="content wow fadeInUp" data-wow-delay="2s">
                <h4>Bogatha Waterfalls</h4>
                <a
                  href="https://en.wikipedia.org/wiki/Bogatha_Waterfall#:~:text=Bogatha%20Waterfall%20is%20a%20waterfall,and%20329%20kilometers%20from%20Hyderabad.">
                  <button class="download-btn" mat-button>Explore</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="inner-custom-controls navigations">
        <span class="controls">
          <div class="swiper-button-prev">
            <img src="../../../../../assets/images/icons/left-arrow.svg" alt="" srcset="">
          </div>
          <div class="swiper-button-next">
            <img src="../../../../../assets/images/icons/right-arrow.svg" alt="" srcset="">
          </div>
        </span>
      </span>
    </div>
  </section>
  <!-- <section class="virtual-section">
    <div class="product-slider">
      <div class="wrapper">
        <h4 class="imp-header"> {{'Virtual Office' | translate}} </h4>
        <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
          fxLayoutAlign="start stretch" fxLayoutGap="25px">
          <div fxLayout="column" fxFlex="50" fxFlexFill>
            <div class="transport-box">
              <div class="box-content">
                <h4>Document name</h4>
              </div>
              <div class="box-img">
                <img src="../../../../../assets/images/virtual1.png" alt="" srcset="">
              </div>
            </div>
          </div>
          <div fxLayout="column" fxFlex="50" fxFlexFill>
            <div class="transport-box">
              <div class="box-content">
                <h4>Document name</h4>
              </div>
              <div class="box-img">
                <img src="../../../../../assets/images/virtual2.png" alt="" srcset="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="links-section">
    <div class="wrapper">
      <h4 class="imp-header"> {{'Virtual Office' | translate}} </h4>
      <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
        fxLayoutAlign="start stretch" fxLayoutGap="8px">
        <div fxLayout="column" fxFlex="100" fxFlexFill>
          <ul>
            <li class="wow bounce">
              <img src="../../../../../assets/images/links/1.svg" alt="" srcset="">
              <a href="https://www.telangana.gov.in/" target="_blank">
                <p> {{'Link to TS Govt.' | translate}} </p>
              </a>
            </li>
            <li class="wow bounce"><img src="../../../../../assets/images/links/2.svg" alt="" srcset="">
              <a href="https://uidai.gov.in/" target="_blank" rel="noopener noreferrer">
                <p> {{'Link to Aadhar Card Website.'  | translate}} </p>
              </a>
            </li>
            <li class="wow bounce"><img src="../../../../../assets/images/links/3.svg" alt="" srcset="">
              <a href="https://rti.gov.in/" target="_blank" rel="noopener noreferrer">
                <p> {{'Link to Information Act.' | translate }} </p>
              </a>
            </li>
            <li class="wow bounce"><img src="../../../../../assets/images/links/4.svg" alt="" srcset="">
              <a href="https://it.telangana.gov.in/t-app-folio/" target="_blank" rel="noopener noreferrer">
                <p> {{'Link to T-App Website.' | translate}} </p>
              </a>
            </li>
            <li class="wow bounce"><img src="../../../../../assets/images/links/5.svg" alt="" srcset="">
              <a href="https://covid19.telangana.gov.in/" target="_blank" rel="noopener noreferrer">
                <p> {{'Guidelines for Corona virus.' | translate}} </p>
              </a>
            </li>
            <li class="wow bounce"><img src="../../../../../assets/images/links/6.svg" alt="" srcset="">
              <a href="https://tweb.telangana.gov.in/services/t-app-folio/" target="_blank" rel="noopener noreferrer">
                <p> {{'Link to T-Web.' | translate}}</p>
              </a>
            </li>
            <li class="wow bounce"><img src="../../../../../assets/images/links/7.svg" alt="" srcset="">
              <a href="https://www.india.gov.in/" target="_blank" rel="noopener noreferrer">
                <p> {{'Link to Indian Govt.' | translate}} </p>
              </a>
            </li>
            <li class="wow bounce"><img src="../../../../../assets/images/links/8.svg" alt="" srcset="">
              <a href="https://www.nic.in/projects/open-government-data-ogd-platform-india/" target="_blank"
                rel="noopener noreferrer">
                <p> {{'Link to Open Govt. Data.' | translate}} </p>
              </a>
            </li>
            <li class="wow bounce"><img src="../../../../../assets/images/links/9.svg" alt="" srcset="">
              <a href="https://ts.meeseva.telangana.gov.in/meeseva/home.htm?" target="_blank">
                <p> {{'e-Seva Link.' | translate}} </p>
              </a>
            </li>
            <li class="wow bounce"><img src="../../../../../assets/images/links/10.svg" alt="" srcset="">
              <a href="https://www.telangana.gov.in/government/mps" target="_blank">
                <p> {{'MLA’s/MP’s Website Links.' | translate}} </p>
              </a>
            </li>
            <li class="wow bounce"><img src="../../../../../assets/images/links/11.svg" alt="" srcset="">
              <a href="https://jangaon.telangana.gov.in/departments/" target="_blank" rel="noopener noreferrer">
                <p> {{'District Collectorate Link.' | translate}} </p>
              </a>
            </li>
            <li class="wow bounce"><img src="../../../../../assets/images/links/12.svg" alt="" srcset="">
              <a href="https://tsiic.telangana.gov.in/list_of_allotments_in_sezs_of_tsiic.html" target="_blank"
                rel="noopener noreferrer">
                <p> {{'TSIIC SEZ @ Narmetta' | translate}} </p>
              </a>
            </li>
            <li class="wow bounce"><img src="../../../../../assets/images/links/13.svg" alt="" srcset="">
              <a href="https://pmnrf.gov.in/en/" target="_blank" rel="noopener noreferrer">
                <p> {{'PM National Relief Fund Link.' | translate}} </p>
              </a>
            <li class="wow bounce"><img src="../../../../../assets/images/links/14.svg" alt="" srcset="">
              <a href="https://www.mygov.in/" target="_blank" rel="noopener noreferrer">
                <p> {{'MyGov Link' | translate}} </p>
              </a>
            <li class="wow bounce"><img src="../../../../../assets/images/links/15.svg" alt="" srcset="">
              <a href="https://www.makeinindia.com/home" target="_blank" rel="noopener noreferrer">
                <p>{{'Make In India Link.' | translate}} </p>
              </a>
            <li class="wow bounce"><img src="../../../../../assets/images/links/16.svg" alt="" srcset="">
              <a href="https://www.incredibleindia.org/content/incredible-india-v2/en.html " target="_blank"
                rel="noopener noreferrer">
                <p> {{'Incredible India Link' | translate}} </p>
              </a>
            <li class="wow bounce"><img src="../../../../../assets/images/links/17.svg" alt="" srcset="">
              <a href="https://www.npci.org.in/" target="_blank">
                <p> {{'Useful Payment/Recharge APIs' | translate}} </p>
              </a>
            </li>
            <li class="wow bounce">
              <img src="../../../../../assets/images/links/1.svg" alt="" srcset="">
              <a href="https://www.telangana.gov.in/" target="_blank">
                <p> {{'Grama Darshini.' | translate}} </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="blog-section">
  <div class="blog-header">
    <h3>Latest Aticles
      From Narmetta </h3>
  </div>
  <div class="wrapper">
  <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
   <div fxLayout="column" fxFlex="33" fxFlexFill>
     <div class="blog-box">
       <div class="blog-img">
         <img src="../../../../../assets/images/blog-img.png" alt="" srcset="">
       </div>
       <div class="blog-content">
          <h4 class="heading">Narmetta Village</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
       </div>
     </div>
   </div>
   <div fxLayout="column" fxFlex="33" fxFlexFill>
    <div class="blog-box">
    <div class="blog-img">
      <img src="../../../../../assets/images/blog-img.png" alt="" srcset="">
    </div>
    <div class="blog-content">
       <h4 class="heading">Narmetta Village</h4>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
  </div>
   </div>
   <div fxLayout="column" fxFlex="33" fxFlexFill>
    <div class="blog-box">
    <div class="blog-img">
      <img src="../../../../../assets/images/blog-img.png" alt="" srcset="">
    </div>
    <div class="blog-content">
       <h4 class="heading">Narmetta Village</h4>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
  </div>
   </div>
  </div>
  </div>
</section> -->
  <!-- <section class="newsletter-section">
    <div class="overlay-news"></div>
    <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
      fxLayoutAlign="center center" fxLayoutGap="8px">
      <div fxLayout="column" fxFlex="60" fxFlexFill>
        <div class="header-title">
          <h4> {{'Weekly Newsletter' | translate}} </h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div fxLayout="row" fxFlexFill class="wow fadeInUp navbar_search" data-wow-duration="2s">
          <div class="custom-form-group">
            <div class="custom-form-control with-curve">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Your Email Id" autocomplete="off" />
              </mat-form-field>
            </div>
          </div>
          <button mat-button class="icon-btn" aria-label="search">
            <span> <img src="../../../../../assets/images/icons/email.svg" alt="" /> {{'Subscribe' | translate}} </span>
          </button>
        </div>
      </div>
    </div>
  </section> -->
</section>
<!--
<video autoplay loop muted class="wrapper__video">
  <source src="../../../../../assets/images/file_example_MP4_1280_10MG.mp4">
</video> -->
