<nav id="nav" class="master-navbar-section secondToolbar">
  <div class="main-top-navbar" [ngClass]="{ sticky: isSticky }">
    <!-- ------------------------ fxShow.lt-sm="false" ------------------------- -->
    <div class="header-main">
      <div class="wrapper">
        <div class="header-row" fxShow.lt-md="false" fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutAlign="start stretch" fxLayoutGap="8px">
          <div fxLayout="column" fxFlex.gt-sm="12" fxFlexFill>
            <div>
              <div class="main-logo">
                <img [routerLink]="['/home']" routerLinkActive="router-link-active"
                  src="../../../../../assets/images/logo.png" alt="" />
                <span fxShow.lt-sm="true" fxShow.sm="true" fxShow="false">
                  <button class="toggle-btn menu-button" (click)="toggleMenu()" [ngClass]="{'open': opened}">
                    <div class="menu-lines">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div fxShow.lt-sm="false" fxShow.lt-md="false" fxLayout="column" fxFlex.gt-sm="88" fxFlexFill fxLayoutAlign="end end">
            <!-- <div class="header-top">
              <ul class="social-media">
                <li> <a href="http://" target="_blank" rel="noopener noreferrer"> <img src="../../../../../assets/images/navbar-logos/suchir_india.png" alt=""></a></li>
                <li> <a href="http://" target="_blank" rel="noopener noreferrer"> <img src="../../../../../assets/images/navbar-logos/IGBC_Member.png" alt=""></a></li>
                <li> <a href="http://" target="_blank" rel="noopener noreferrer"> <img src="../../../../../assets/images/navbar-logos/iso_logo.png" alt=""></a></li>
              </ul>
            </div> -->
            <ul class="header-bottom-navbar">
              <li [routerLink]="['/home']" routerLinkActive="router-link-active"> {{'Home' | translate}} </li>
              <li appHoverClass="bottom-mega-menu-show" [matMenuTriggerFor]="serviceMenu"> {{'About Village' | translate}} <i class="material-icons">
                keyboard_arrow_down
              </i>
                <mat-menu #serviceMenu="matMenu" class="nav_dropdown_menu">
                  <button [routerLink]="['./about-village']" mat-menu-item> {{'Village Profile' | translate}} </button>
                  <button [routerLink]="['./about-village']" mat-menu-item>{{'History / Journey' | translate}}  </button>
                  <button [routerLink]="['./about-village']" mat-menu-item> {{'Philosophy of the Village' | translate}}</button>
                  <button  [routerLink]="['./about-village']" mat-menu-item>{{'Vision & Mission' | translate}}</button>
                </mat-menu>
              </li>
              <!-- <li> {{'Help Line' | translate}} </li> -->
              <li> {{'Gallery' | translate}} </li>
              <li [routerLink]="['./events']" > {{'Events' | translate}} </li>
              <li> {{'Certificates' | translate}} </li>
              <!-- <li> {{'Contact' | translate}} </li> -->
              <!-- <li>  {{'Latest News' | translate}} </li> -->
              <li> {{'Virtual Office' | translate}}</li>
              <!-- <li>
                <button (click)="selectLocation()" class="global-btn" mat-button>
                  <img src="../../../../../assets/images/icons/pin.svg" alt="" srcset="">
                  Select Location</button>
              </li> -->
              <li>
                <button type="button" mat-button class="global-btn" [matMenuTriggerFor]="menu"> {{selectedLanguage.title}} <i class="material-icons">
                  keyboard_arrow_down
                </i>
                </button>
                <mat-menu class="lng-drop-down" #menu="matMenu">
                  <button type="button" mat-menu-item (click)="setLanguage(single)" *ngFor="let single of languageList"> {{single.title}} </button>
                </mat-menu>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- MOBILE-MENU -->
<div class="top-navbar mobile_menu mobile-top-menu-show" fxFlex.gt-md="false">
  <div class="" fxLayout="column" fxFlex="100" fxFlexFill>
    <div class="mobile-navbar-sec" [ngClass]="{ sticky: isSticky}">
      <div class="mobile-logo-box" [routerLink]="['/index']" routerLinkActive="router-link-active">
        <img [routerLink]="['/index']" routerLinkActive="router-link-active"
          src="../../../../../assets/images/logo.png" alt="" />
      </div>
      <div class="mobile-accordion">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="toggler" [collapsedHeight]="customNavCollapsedHeight"
              [expandedHeight]="customNavExpandedHeight">
              <mat-panel-title>
                <div class="mobile-toolbar-toggler">
                  <span class=""></span>
                  <span class=""></span>
                  <span class=""></span>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="top-right-nav">
              <li [routerLink]="['/home']" routerLinkActive="router-link-active"> {{'Home' | translate}} </li>
              <li class="menu-icons is-dropdown-submenu-parent">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="customNavCollapsedHeight"
                      [expandedHeight]="customNavExpandedHeight">
                      <a>
                        <span> {{'About Village' | translate}}</span>
                      </a>
                    </mat-expansion-panel-header>
                    <div class="inner-dropdown-ul">
                      <ul>
                        <li [routerLink]="['./about-village']" routerLinkActive="router-link-active"> {{'Village Profile' | translate}}</li>
                        <li [routerLink]="['./about-village']" routerLinkActive="router-link-active"> {{'History / Journey' | translate}} </li>
                        <li [routerLink]="['./about-village']" routerLinkActive="router-link-active"> {{'Philosophy of the Village' | translate}}</li>
                        <li [routerLink]="['./about-village']" routerLinkActive="router-link-active">{{'Vision & Mission' | translate}}</li>
                      </ul>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </li>
              <li> {{'Gallery' | translate}} </li>
              <li [routerLink]="['./events']" > {{'Events' | translate}} </li>
              <li> {{'Certificates' | translate}} </li>
              <li> {{'Virtual Office' | translate}}</li>
              <li>
                <button type="button" mat-button class="global-btn" [matMenuTriggerFor]="menu"> {{selectedLanguage.title}} <i class="material-icons">
                  keyboard_arrow_down
                </i>
                </button>
                <mat-menu class="lng-drop-down" #menu="matMenu">
                  <button type="button" mat-menu-item (click)="setLanguage(single)" *ngFor="let single of languageList"> {{single.title}} </button>
                </mat-menu>
              </li>
              <!-- <li>
                <button (click)="selectLocation()" class="global-btn" mat-button>
                  <img src="../../../../../assets/images/icons/pin.svg" alt="" srcset="">
                  Select Location</button>
              </li> -->
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <mat-accordion>
    </mat-accordion>
  </div>
</div>
<span (click)="scrollTop()" class="scroll-top" [ngClass]="{ 'scroll-top-in': isScrollTop }">
  <i class="material-icons"> keyboard_arrow_up</i>
</span>
<div class="float_sm">
  <a [href]="" target="_blank">
    <div class="fl-fl float-fb fb-bg">
      <div class="social-icon">
        <img src="../../../../../assets/images/facebook.svg" alt="">
      </div>
      <span> Facebook</span>
    </div>
  </a>
  <a [href]="" target="_blank">
    <div class="fl-fl float-in in-bg">
      <div class="social-icon">
        <img src="../../../../../assets/images/instagram.svg" alt="">
      </div>
      <span>Instagram</span>
    </div>
  </a>
  <a [href]="" target="_blank">
    <div class="fl-fl float-tw tw-bg">
      <div class="social-icon">
        <img src="../../../../../assets/images/twitter.svg" alt="">
      </div>
      <span>Twitter</span>
    </div>
  </a>
  <a [href]="" target="_blank">
    <div class="yt-bg fl-fl float-yt">
      <div class="social-icon">
        <img src="../../../../../assets/images/youtube.svg" alt="">
      </div>
      <span>Youtube</span>
    </div>
  </a>
  <a target="_blank">
    <div class="ln-bg fl-fl float-ln">
      <div class="social-icon">
        <img src="../../../../../assets/images/linkedin.svg" alt="">
      </div>
      <span>LinkedIn</span>
    </div>
  </a>
</div>
<div class="left_float_sm">
  <a [href]="" target="_blank">
    <div class="fl-fl float-iso">
      <span>ISO</span>
      <div class="social-icon">
        <img src="../../../../../assets/images/iso.png" alt="">
      </div>
    </div>
  </a>
  <a [href]="" target="_blank">
    <div class="fl-fl float-igbc">
      <span>IGBC</span>
      <div class="social-icon">
        <img src="../../../../../assets/images/igbc.png" alt="">
      </div>
    </div>
  </a>
</div>
