<section class="bg-pattern bg-pattern-inner">
  <div class="overlay"></div>
  <div class="inner-banner">
    <img src="../../../../../assets/images/about_banner.jpg" alt="" srcset="">
  </div>
  <div class="wrapper">
    <div class="inner-section section-padding">
      <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
        fxLayoutAlign="start stretch" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="70">
          <div class="inner-content">
            <div class="inner-image">
              <img src="../../../../../assets/images/text_frame.png" alt="" srcset="">

              <div class="over-content">
                <h4 class="main-heading">Village Profile</h4>
                <p>Narmetta is a reformist village, located in the district of Siddipet. As one of the most promising
                  villages
                  of Telangana State, Narmetta is experiencing the multidimensional development with all facilities, and
                  infrastructure. </p>
                <p>Venkatapur (3 km), Ankushapur (3 km), Danampalle (4 km), Maqdumpur (4 km), Thimmaipalle (4 km),
                  Konaipalle
                  (5 km), Khanapur (5 km), Nagrajpalle (5 km), Nanganur (5 km), Rampur (6 km), Bandaram (6 km), and
                  Rajagopalpet (8 km) are some of the neighboring villages within in the Nangunur Revenue Mandal. Nearby
                  Revenue Mandals are Cheriyal (South), Maddur (South), Kondapak (West), Siddipet (West), and
                  Chinnakodur
                  (South). Nearest Towns are Nangunur (5 km), and Rajagopalpet (5 km). Siddipet, Jangaon, Sircilla, and
                  Karimnagar are the nearest cities to Narmetta.Narmetta has a population of about 3445 persons living
                  in 633
                  houses. Narmetta is a progressive village with the most idealistic vision towards comprehensive
                  development.
                  The villagers, and representatives of Grampanchayat are cohesively working to make it as a model
                  village
                  across Telangana.
                </p>
                <p>Narmetta is a reformist village, located in the district of Siddipet. As one of the most promising
                  villages
                  of Telangana State, Narmetta is experiencing the multidimensional development with all facilities, and
                  infrastructure. </p>
                <p>Venkatapur (3 km), Ankushapur (3 km), Danampalle (4 km), Maqdumpur (4 km), Thimmaipalle (4 km),
                  Konaipalle
                  (5 km), Khanapur (5 km), Nagrajpalle (5 km), Nanganur (5 km), Rampur (6 km), Bandaram (6 km), and
                  Rajagopalpet (8 km) are some of the neighboring villages within in the Nangunur Revenue Mandal. Nearby
                  Revenue Mandals are Cheriyal (South), Maddur (South), Kondapak (West), Siddipet (West), and
                  Chinnakodur
                  (South). Nearest Towns are Nangunur (5 km), and Rajagopalpet (5 km). Siddipet, Jangaon, Sircilla, and
                  Karimnagar are the nearest cities to Narmetta.Narmetta has a population of about 3445 persons living
                  in 633
                  houses. Narmetta is a progressive village with the most idealistic vision towards comprehensive
                  development.
                  The villagers, and representatives of Grampanchayat are cohesively working to make it as a model
                  village
                  across Telangana.
                </p>
                <p>Narmetta is a reformist village, located in the district of Siddipet. As one of the most promising
                  villages
                  of Telangana State, Narmetta is experiencing the multidimensional development with all facilities, and
                  infrastructure. </p>
                <p>Venkatapur (3 km), Ankushapur (3 km), Danampalle (4 km), Maqdumpur (4 km), Thimmaipalle (4 km),
                  Konaipalle
                  (5 km), Khanapur (5 km), Nagrajpalle (5 km), Nanganur (5 km), Rampur (6 km), Bandaram (6 km), and
                  Rajagopalpet (8 km) are some of the neighboring villages within in the Nangunur Revenue Mandal. Nearby
                  Revenue Mandals are Cheriyal (South), Maddur (South), Kondapak (West), Siddipet (West), and
                  Chinnakodur
                  (South). Nearest Towns are Nangunur (5 km), and Rajagopalpet (5 km). Siddipet, Jangaon, Sircilla, and
                  Karimnagar are the nearest cities to Narmetta.Narmetta has a population of about 3445 persons living
                  in 633
                  houses. Narmetta is a progressive village with the most idealistic vision towards comprehensive
                  development.
                  The villagers, and representatives of Grampanchayat are cohesively working to make it as a model
                  village
                  across Telangana.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="30">
          <div class="left-img">
            <img class="overlay-frame" src="../../../../../assets/images/photo_frame.png" alt="" srcset="">
            <img src="../../../../../assets/images/about_1.png" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
    <div class="inner-section section-padding">
      <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
        fxLayoutAlign="start stretch" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="30">
          <div class="left-img">
            <img class="overlay-frame" src="../../../../../assets/images/photo_frame.png" alt="" srcset="">
            <img src="../../../../../assets/images/about_2.png" alt="" srcset="">
          </div>
        </div>
        <div fxLayout="column" fxFlex="70">
          <div class="inner-content">
            <div class="inner-image">
              <img src="../../../../../assets/images/text_frame.png" alt="" srcset="">
              <div class="over-content">
                <h4 class="main-heading">History / Journey</h4>
                <p>Narmetta has rich and glorious history with lot of remains of great monuments, well-built temples,
                  and
                  carefully planned public amenities across the village.
                </p>
                <p>
                  <b>Origin of Name : </b> 200 year back a king reached this region for hunting. He hit a bird with an
                  arrow.
                  He spotted the wounded bird. But somehow he changed his mind and wanted to rescue the bird. As he
                  removed
                  the arrow from the tiny body of bird, the wound disappeared and the bird flew away. King was amazed
                  and
                  thought that the area was indeed a pious one. By then he saw the reminiscence of Shila (stone
                  carving),
                  shankhu (conch), chakram (circle) and tirunaama.
                  Thus, king decided to pay the penance and built a Sreeramalayam here. Since then the village
                  surrounding got
                  name Naruveta (Naru: Human Veta: Hunting, Place of Human Hunting) and in the due course of time it got
                  changed as Narmetta.
                </p>
                <p><b>Cultural Contribution : </b> Around 25 to 30 years back, village elders and youth have staged a
                  mythological drama “Kurukshetram” to raise the funds to upgrade school from Primary to Secondary. Such
                  noble
                  cause was supported by many villagers.
                  Taking the inspiration from the ancestors, recently Village Youth have staged a social drama to raise
                  funds
                  to revamp Kalyana Mandapam at Sriramalayam. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inner-section section-padding">
      <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
        fxLayoutAlign="start stretch" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="70">
          <div class="inner-content">
            <div class="inner-image">
              <img src="../../../../../assets/images/text_frame.png" alt="" srcset="">
              <div class="over-content">
                <h4 class="main-heading">Philosophy of the Village</h4>
                <p>Narmetta is the most enlightened village for all its residents. The sons of this wonderful soil who
                  have
                  migrated to other cities and countries, always feel proud of their belongingness with the village.
                  Social
                  bonding in Narmetta is the essence that keeps all the villagers together, stronger, happier and
                  healthier.
                  All stakeholders of the village create a conducive environment for holistic living. </p>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="30">
          <div class="left-img">
            <img class="overlay-frame" src="../../../../../assets/images/photo_frame.png" alt="" srcset="">
            <img src="../../../../../assets/images/about_3.png" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
    <div class="inner-section section-padding">
      <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
        fxLayoutAlign="start stretch" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="30">
          <div class="left-img">
            <img class="overlay-frame" src="../../../../../assets/images/photo_frame.png" alt="" srcset="">
            <img src="../../../../../assets/images/about_4.png" alt="" srcset="">
          </div>
        </div>
        <div fxLayout="column" fxFlex="70">
          <div class="inner-content">
            <div class="inner-image">
              <img src="../../../../../assets/images/text_frame.png" alt="" srcset="">
              <div class="over-content">
                <h4 class="main-heading">Vision & Mission</h4>
                <p><b>Vision :</b>
                  Narmetta village aims to maximize opportunities for social and economic development, while retaining
                  ecological sanctity, sustainability,
                  harmony, and participation of communities. Narmetta grampanchayat intends to become one of the unique
                  model
                  villages across Telangana State.
                </p>
                <p> <b>Mission :</b> Narmetta village is determined to provide a liberal community environment that
                  nurtures
                  cultural, recreational, educational, and economic prosperity while generating community pride, spirit,
                  and
                  encouraging active citizen participation. To actualize the long-term roadmap </p>
                <p>Providing water for irrigation to cover every acre of agricultural land</p>
                <p>Supplying purified, and protected drinking water to each household</p>
                <p>Emphasizing the high standards of sanitization to maintain the village neat and tidy</p>
                <p> Producing the compost fertilizers from wet garbage, and animal manure</p>
                <p> Organizing plantation drives to make ‘Green Narmetta’, a reality</p>
                <p> Ensuring employment opportunities for every eligible youth to enable better economical sustenance
                </p>
                <p>Working towards 100% Literacy </p>
                <p>Enforcing “Zero Plastic Drive” across the village </p>
                <p>Spreading awareness on “Save Water” campaign </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="newsletter-section">
    <div class="overlay-news"></div>
    <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
      fxLayoutAlign="center center" fxLayoutGap="8px">
      <div fxLayout="column" fxFlex="60" fxFlexFill>
        <div class="header-title">
          <h4> {{'Weekly Newsletter' | translate}} </h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div fxLayout="row" fxFlexFill class="wow fadeInUp navbar_search" data-wow-duration="2s">
          <div class="custom-form-group">
            <div class="custom-form-control with-curve">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Enter Your Email Id" />
              </mat-form-field>
            </div>
          </div>
          <button mat-button class="icon-btn" aria-label="search">
            <span> <img src="../../../../../assets/images/icons/email.svg" alt="" /> Subscribe</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
