<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <app-header></app-header>
    <div class="master-router-sec">
     <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
