
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Akrobat Regular , sans-serif'
);
// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include angular-material-typography($custom-typography);
// FONT-AWESOME-ICONS
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdn.lineicons.com/2.0/LineIcons.css');
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$narmetta-primary: mat-palette($mat-indigo);
$narmetta-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$narmetta-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$narmetta-theme: mat-light-theme((
  color: (
    primary: $narmetta-primary,
    accent: $narmetta-accent,
    warn: $narmetta-warn,
  )
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($narmetta-theme);
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css');
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '~ngx-lightbox/lightbox.css';
// SWIPER-SCSS
@import '~swiper/css/swiper.min.css';

/* You can add global styles to this file, and also import other style files */
@import 'master';





