<!-- <section class="bg-pattern">
  <div class="overlay"></div>
  <section class="footer-sec">
    <div class="footer">
      <div class="wrapper">
        <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
          fxLayoutAlign="center center" fxLayoutGap="8px">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="80">
            <div class="ft-logo">
              <a href=""> <img class="img-fluid" src="../../../../../assets/images/footer-logo.svg" alt="Logo"></a>
            </div>
            <div class="ft-text">
              <p> www.{{'suchirindia' | translate}}.in </p>
              <h6 class="address-line">
                {{'Suchir Capital, 50-B, Journalist Colony, Jubilee Hills, Hyderabad, Telangana - 500 096' | translate}}
              </h6>
            </div>
            <ul class="s-links">
              <p> {{'LIKE, SHARE, AND FOLLOW US ON' | translate}} </p>
              <li class="wow pulse"> <a href="https://www.facebook.com/" target="_blank"> <i class="fa fa-facebook"
                    aria-hidden="true"></i></a> </li>
              <li class="wow pulse"><a href="https://www.facebook.com/" target="_blank"></a><i class="fa fa-twitter"
                  aria-hidden="true"></i> </li>
              <li class="wow pulse"><i class="fa fa-youtube-play" aria-hidden="true"></i> </li>
              <li class="wow pulse"><i class="fa fa-linkedin" aria-hidden="true"></i> </li>
              <li class="wow pulse"><i class="fa fa-instagram" aria-hidden="true"></i> </li>
            </ul>
            <ul class="q-links">
              <p> {{'Quick Links' | translate}} </p>
              <li> {{'Home' | translate}} </li>
              <li> {{'About Village' | translate}} </li>
              <li> {{'E-Governence' | translate}}</li>
              <li> {{'Gallery & Videos' | translate}}</li>
              <li> {{'Contact' | translate}}</li>
              <li> {{'Events' | translate}}</li>
              <li> {{'Latest News' | translate}}</li>
              <li> {{'Help Line' | translate}}</li>
            </ul>
          </div>
        </div>
        <div class="footer-copyright">
          <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
            fxLayoutAlign="center center" fxLayoutGap="8px">
            <div fxLayout="column" fxFlex="80">
              <p class="copy-right">
                {{'Proudly Presented By Suchirindia Foundation | Narmetta Grampanchayat, Telangana.' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section> -->
<section class="footer-sec">
  <div class="footer">
    <div class="wrapper">
      <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
        fxLayoutAlign="start stretch" fxLayoutGap="8px">
        <div fxLayout="column" fxFlex="20">
          <div class="footer_logo">
            <h4>{{'Proudly Presented by' | translate}}</h4>
            <a href=""> <img class="img-fluid" src="../../../../../assets/images/footer-logo.svg" alt="Logo"></a>
            <p>www.suchirindia.in</p>
          </div>
        </div>
        <div fxLayout="column" fxFlex="50">
          <div class="quck_links">
            <h4 class="footer_head">{{'Quick Links' | translate}}</h4>
            <div class="links_flex">
              <ul>
                <li>{{'Home' | translate}}</li>
                <li>{{'About Village' | translate}} </li>
                <li>{{'E-Governence' | translate}}</li>
              </ul>
              <ul>
                <li>{{'Govt.Offices' | translate}}</li>
                <li>{{'Events' | translate}}</li>
                <li>{{'Help Line' | translate}}</li>
              </ul>
              <ul>
                <li>{{'Governance' | translate}}</li>
                <li>{{'Initiatives' | translate}}</li>
                <li>{{'Gallery' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="30">
          <h4 class="footer_head">{{'Weekly Newsletter' | translate}}</h4>
          <div class="wow fadeInUp navbar_search">
            <div class="custom-form-group">
              <div class="custom-form-control with-curve">
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Enter Your Email Id" autocomplete="off" />
                </mat-form-field>
              </div>
            </div>
            <button mat-button class="icon-btn" aria-label="search">
              <span>
                <!-- <img src="../../../../../assets/images/icons/email.svg" alt="" /> -->
                {{'Subscribe' | translate}}
              </span>
            </button>
          </div>
          <div class="footer_address">
            <p>{{"Suchir Capital, 50-B," | translate }}</p>
            <p>{{"Journalist Colony, Jubilee Hills," | translate}}</p>
            <p>{{"Hyderabad, Telangana - 500 096," | translate}}</p>
          </div>
        </div>
      </div>

    </div>
    <div class="footer-copyright">
      <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
        fxLayoutAlign="center center" fxLayoutGap="8px">
        <div fxLayout="column" fxFlex="80">
          <p class="copy-right">
            {{'Proudly Presented By Suchirindia Foundation | Narmetta Grampanchayat, Telangana.' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
